[2018-07-05 11:15] Zweitze opened #10 "GoogleAdsException has no InnerException with the original exception"
Reproduction: Modify example GetKeyworkStats.cs, modify one of the select-fields (I changed "campaign.id" to "campaign.id__". You get a GoogleAdsException.
This exception has no reference to the original network exception, at least its InnerException member is null.

Note I used them to communicate with AdWords API Support to give more insights in the background. AdWords API used to pass the inner

[2018-07-05 11:34] Zweitze opened #11 "requestId is only available when an exception occurs"
In the library classes, only the exceptions do expose requestId (Well, I checked CustomerService and GoogleAdsService, but I assume this is for other classes also the case). I am pretty sure requestId is also available for calls that did NOT result in an Exception.

Still we want to learn it, log it, and use it to communicate with Ads API when we have questions about a result. Further we may need

[2018-07-05 11:50] AnashOommen commented on #10
Thanks Zwitze, please keep those bugs coming!

[2018-07-05 12:14] Zweitze opened #12 "Consistent field names in reports"
The most hated 'feature' in previous AdWords API was the inconsistency in field names in reports. For instance, if you request field _CreativeQualityScore_ then the resulting report would have a field named _adRelevance_.
This sounds like a one-time nuisance, but when the API version got upgraded, and the upgrade docs stated for instance that _CpcBid_ may now give a "--" result, then you had to go

[2018-07-05 12:38] Zweitze opened #13 "Can reports show the field names in the result?"
One of the first apps I write is a simple report viewer: a Windows Forms application allowing the user to set up a report, has a button Go and a GridView showing the results. Once succeeded it proves very helpful by allowing you to test combinations of fields, to see which values can occur in the response etc.etc.

Unfortunately the result of googleAdsService.Search() contains all possible fields,

[2018-08-02 09:38] Zweitze commented on #11
To get an idea for a solution, look at Analytics Reporting API v3. [The response](https://developers.google.com/analytics/devguides/reporting/core/v3/reference#data_response) is a structure, with:
- Field "rows" with the actual result of the API call
- Field "query" with the request
- Many other fields, like the view to which the call was made

When following this example, all responses of Ads API

[2018-08-02 11:11] AnashOommen commented on #11
Hi Zwitze,

I think the difference here is due the way in which the Analytics Reporting API was designed, v/s GoogleAds API was designed.

The important part around this discussion is that Google Ads API is a grpc API, and grpc allows two ways to return metadata from servers.

1. You return the metadata as part of the response, like the way Analytics API does.
2. You return the metadata in a metad

[2018-08-02 11:43] AnashOommen commented on #12
Hi Zwitze,

This one is unfortunately a problem on the client library side itself, but one that is unlikely to get fixed. There are two parts to this issue.

1. In the Google Ads API, you can retrieve a field name by specifying its path in the class structure, as shown in the [documentation](https://developers.google.com/google-ads/api/docs/fields/campaign#campaigndynamic_search_ads_setting) or th

[2018-08-02 11:58] AnashOommen commented on #10
Google Ads APIs use gRPC, and is hence built on top of the Google's gRPC libraries. They don't pass the underlying HTTP2 error to the consuming layer, so there's not much useful information that can be exposed to the end user.

I'll add logging in an upcoming release, and the library already exposes requestIds. Combined, that should be a reasonable substitute for most cases.

gRPC exposes low leve

[2018-08-02 12:17] AnashOommen commented on #13
Hi Zwitze,

I don't quite understand the issue. Just like in AdWords API, Google Ads API will only return fields that you requested.

E.g. See [GetCampaigns.cs](https://github.com/googleads/google-ads-dotnet/blob/master/examples/Services/BasicOperations/GetCampaigns.cs#L67) example. you get back only the fields you requested.

Is your ask for the server to return the list of field that were reques

[2018-08-02 12:44] AnashOommen commented on #13
Hi Zwitze,

You could write the code like this:

[code]

[2018-08-15 13:07] Zweitze commented on #12
If you consider generating different enums, do realize that you also have to update the documentation on Ads API. I don't think this will happen as other libraries may use the naming as seen in the current docs.

My point is that Ads API should use consistent naming AND use the same naming as used in its documentation.
Consistency with naming conventions of other parties is by far not as important

[2018-08-15 14:25] Zweitze commented on #13
Yes, method AsRawResponses() of the result is what I was looking for. And I do like that this result uses the same names as requested, meaning easier matching. Is SearchGoogleAdsResponse documented somewhere?

(I know, the package states HTML and XML docs are available, but I can't find it. Please help me out)

[2018-08-22 19:21] AnashOommen opened #16 "Extract an interface out of GoogleAdsError"
This will make sure we don't have one exception type per API version.

[2018-12-05 18:31] bonniecpk opened #23 "Unclear error message when OAuth credentials are invalid"
Scenario:
- Installing googleads library via NuGet as a new console project
- Web flow OAuth client_id and client_secret are used
- Refresh token is invalid
- all other necessary config details are given to the library

The returned error is:
[code]

[2018-12-13 14:20] YodasMyDad opened #24 "Example for GetAccountHierarchy?"
I have a manager account and I stumbled on this old c# example.

https://stackoverflow.com/questions/13832008/google-adwords-api-c-sharp-client-library

Is this still possible in the current API? If so, could you add an updated example please.

[2018-12-14 06:21] YodasMyDad opened #25 "Documentation about IConfigurationRoot is incorrect in the wiki"
Your examples use an app.config. Is there an example using appSettings.json?

[2018-12-14 08:30] VitalyDukhota commented on #25
You can't at the moment because the current implementation uses ConfigurationManager - see the issue I'll create shortly

[2018-12-14 08:36] VitalyDukhota opened #26 "LoadConfigRoot doesn't handle config entries with null values"
There is a bug/issue in the .NET client for the new Ads API beta: ConfigBase.cs, LoadConfigRoot(IConfigurationRoot configurationRoot) method, line 57:

setting => setting.Value.ToString());

The problem is that setting.Value can for some config files be null, which is not handled correctly. Example - JSON configs with hierarchy, where a section name creates an entry in the config file, but it does

[2018-12-14 08:38] VitalyDukhota opened #27 "GoogleAdsConfig implementation is too tied to ConfigurationManager"
Current GoogleAdsConfig implementation is tied to ConfigurationManager, which is only used by .NET Framework for desktop programs. .NET Web applications, and specifically .NET Core applications use WebConfigurationManager which the current implementation of GoogleAdsConfig ignores, and so it doesn't pick up configuration from it. It's not a big deal because there is LoadConfigRoot(IConfigurationRo

[2018-12-14 09:01] YodasMyDad commented on #25
Thanks. Do you have an example of using LoadConfigRoot(IConfigurationRoot configurationRoot) in a github snippet or repo on here?

[2018-12-14 12:46] VitalyDukhota commented on #25
The code above - is it all in Program?
If yes, then you you probably misunderstand how DI container in .NET core works; reading this might help: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection?view=aspnetcore-2.2

You will need to get IConfiguration injected into your class. Don't try to get it from the DI container directly - that's not how it works. I managed to ge

[2018-12-14 13:04] YodasMyDad commented on #25
Thanks. This is a great help. I'm just doing a POC play with a console project at the moment. I'll separate and get the injected IConfiguration and go from there.

[2018-12-14 13:23] YodasMyDad commented on #25
Sorry but I just tried this quickly just now, but you can't use IConfiguration with the GoogleAdsConfig? It will only accept an IConfigurationRoot?

[2018-12-14 14:34] VitalyDukhota commented on #25
IConfiguration is derived from IConfigurationRoot - use type cast.

[2018-12-14 15:30] AnashOommen commented on #24
Yes, this is possible using CustomerManagerLinkService, but I don't have a code example yet. Let me try putting together one.

[2018-12-14 15:32] AnashOommen commented on #13
HI Zweitze,

Apologies for the delay, I didn't realize you were waiting on me for additional details. The online docs are here: https://developers.google.com/google-ads/api/reference/rpc/google.ads.googleads.v0.services#google.ads.googleads.v0.services.SearchGoogleAdsResponse

[2018-12-14 15:32] #13 closed

[2018-12-14 16:16] AnashOommen opened #28 "GetRefreshToken.cs doesn't work for a Web Application credential..."
See https://github.com/googleads/googleads-dotnet-lib/issues/197 for additional context. tl;dr; the callback port is random, so it cannot be added to the Google Client project as a valid redirect uri beforehand.

[2018-12-14 16:44] AnashOommen commented on #28
Added a note to clarify this in the [wiki guide](https://github.com/googleads/google-ads-dotnet/wiki/API-access-on-behalf-of-your-clients-(web-flow)#step-1---creating-oauth2-credentials).

[2018-12-14 17:12] YodasMyDad commented on #24
That would be awesome. Thanks @AnashOommen

[2018-12-14 17:34] YodasMyDad commented on #25
So this does work if you cast builder.Build() to IConfigurationRoot... **However**.. The ONLY way for this to work is to rename your appSettings.json file to GoogleAdsApi.json! Which is a bit annoying.

[2018-12-15 08:04] YodasMyDad opened #29 "GetAdGroups and GetCampaigns Examples Not Working?"
I have just tried GetAdGroups and GetCampaigns examples. Neither of which work. I have the correct credentials, customer id and campaign or adgroup id.

The searchPagedResponse returns nothing for each. Can you please test @AnashOommen ... Really appreciate the examples you have done, but it's very frustrating when you spend a day setting up the project in .Net Core and then find the examples don'

[2018-12-17 01:49] AnashOommen commented on #29
Hi,

Could you please turn on logging, run these examples and send me the logs at adwordsapi-support@google.com? This is the mail alias for the official product support queue, and you can reach me by adding Attn: Anash Oommen in your mail.

Tx
Anash

[2018-12-17 01:49] #29 closed

[2018-12-18 16:31] AnashOommen opened #30 "Provide a GoogleAdsConfig constructor that works with IConfigurationSection"
See https://github.com/googleads/googleads-dotnet-lib/issues/191 for broader issue.

[2018-12-18 16:39] AnashOommen commented on #25
Reopening this issue, since this is a documentation bug (with ties into other usability issues that have been reported),

[2018-12-18 16:46] AnashOommen commented on #28
This needs update in https://github.com/googleads/google-ads-dotnet/blob/master/examples/Authentication/AuthenticateInStandaloneApplication/Program.cs also.

[2018-12-19 14:31] AnashOommen opened #31 "Services.V0 class is missing definitions for a few services..."
These all seem to be new services from v0_5 and v0_6.

[2018-12-21 17:46] #31 closed

[2018-12-27 17:01] AnashOommen commented on #28
Fixed in repo.

[2018-12-27 17:01] #28 closed

[2018-12-28 20:30] AnashOommen opened #39 "Keyname for serverUrl override is incorrect."
It currently says "ServerUrl", should be GoogleAds.Server

[2018-12-28 20:31] AnashOommen opened #40 "LoginCustomerId is not properly read from App.config / Web.config."

[2019-01-04 10:18] frodestorhaug opened #43 "When will there be a new release"
Seems like Google.Ads.GoogleAds.Services.V0.MediaFileService is missing in v.0.7.0 ?

[2019-01-05 10:05] abdullahakyol49 opened #47 "GoogleAds Error loading native library. Not found in any of the possible locations grpc_csharp_ext.x86.dll problems"
Hello, I want to develop web application with GoogleAds Api. I have followed the resources and articles you share, but I get the following error. Please help me
![ekran alintisi](https://user-images.githubusercontent.com/46396185/50723124-8fa72b80-10ea-11e9-849e-83c2536f6e6d.JPG)

[2019-01-22 15:50] AnashOommen commented on #40
Fixed in v0.7.1.

[2019-01-22 15:50] #40 closed

[2019-01-22 15:50] AnashOommen commented on #39
Fixed in v0.7.1.

[2019-01-22 15:50] #39 closed

[2019-01-22 15:50] AnashOommen commented on #27
Fixed in v0.7.1.

[2019-01-22 15:50] #27 closed

[2019-01-22 15:51] AnashOommen commented on #26
Fixed in v0.7.1.

[2019-01-22 15:51] AnashOommen commented on #30
Fixed in v0.7.1.

[2019-01-22 15:51] #30 closed

[2019-01-22 15:52] AnashOommen commented on #47
Add a nuget dependency on Grpc.Core package, and this should be fixed.

[2019-01-22 15:52] #47 closed

[2019-01-22 17:10] AnashOommen commented on #43
I've fixed this in 0.7.1.

[2019-01-22 17:10] #43 closed

[2019-01-22 17:11] AnashOommen commented on #25
I've fixed this (and updated the wiki) to work with settings.json. No need to rename the files any longer. Pls give it a try and see if it works as intended.

[2019-01-22 17:11] #25 closed

[2019-02-05 09:31] marcselman opened #51 "Unexpected results with Campaign object creation"
Creating a new Campaign object can give very different results depending on the order of setting properties.
For example:
[code]
 This creates a Campaign object with `CampaignBiddingStrategyCase == ManualCpc`.

But
[code]
This creates a Campaign object with `CampaignBiddingStrategyCase == None` and `ManualCpc == null`.

I understand that you only need to set one bidding strategy, but setting a pro

[2019-02-05 11:33] AnashOommen commented on #51
Hi Marc,

Tx for reporting, I will take a look.

On Tue, Feb 5, 2019 at 4:31 AM Marc Selman <notifications@github.com> wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-02-05 20:27] aukevin opened #52 "Campaign Tracking Settings Missing"
Hi,

In the documentation, Campaigns can be [queried for Tracking Settings](https://developers.google.com/google-ads/api/docs/fields/campaign#campaigntracking_settingtracking_url).

I see that in the stubs, there's a [line referencing them](https://github.com/googleads/google-ads-dotnet/blob/7e79b011cf0aa94182a7b7b988bfa0294bba9637/src/V0/Stubs/Campaign.cs#L153), but it looks like the Campaign obj

[2019-02-05 22:00] AnashOommen commented on #52
Hi Kevin,

Let me try regenerating the stubs just to make sure I didn't miss anything.

[2019-02-06 19:50] AnashOommen commented on #51
Hi Marc,

CampaignBiddingStrategy is a OneOf field, so you should only set the field that you are interested in. You should not set any other fields. Not even to a null. That's the way protocol buffer spec is written and works.

I realize that this leads to error-prone code if the developer isn't aware of this behaviour, since this isn't how C# works. I'll discuss with the broader team to see what

[2019-02-06 19:50] #51 closed

[2019-02-13 17:03] marcselman opened #53 "Internal Exception not helpful"
I'm calling the `MutateCampaignBudgetsAsync` method. From my test machine it works fine but from another server it throws a GoogleAdsException with the message: `Status(StatusCode=Internal, Detail="Failed to deserialize response message.")`.
I assume it might be a dll version problem or something but the error message is not helpful.
I've tried somethings, even turned on verbose logging for Grpc b

[2019-02-13 17:10] AnashOommen commented on #53
I'm afraid this is something that needs us to take a look at our internal logs. Could you pls drop an email to me (anash@google.com) with the customerId of the client accounts and the API developer accounts?

[2019-02-18 14:09] frodestorhaug opened #54 "When will active_view_impressions become available ?"
https://developers.google.com/google-ads/api/docs/fields/metrics#metricsactive_view_impressions

Thanks

[2019-02-18 16:58] AnashOommen commented on #54
It’s already available here:
https://github.com/googleads/google-ads-dotnet/blob/master/src/V0/Stubs/Metrics.cs

The field is named ActiveViewImpressions.

On Mon, Feb 18, 2019 at 9:09 AM Frode Storhaug <notifications@github.com>
wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-02-19 17:02] marcselman commented on #53
@AnashOommen Do you want to add a comment here for future reference?

[2019-02-21 14:47] #54 closed

[2019-02-21 15:30] lukesneeringer commented on #53
For the first of these, there is a magic incantation. It has been awhile, but I think it is the following environment variables:

[code]

I have no clue whether/where this is documented.

[2019-02-21 15:31] lukesneeringer commented on #53
I do not believe there has been a backwards-incompatible change to the wire format since 3.0. This sounds likely to be a bug.

[2019-02-21 15:34] AnashOommen commented on #53
Yeah, I'm thinking it's unintentional. FWIW, the exception is thrown here: https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core/Internal/AsyncCallBase.cs#L361

Status(StatusCode=Internal, Detail="Failed to deserialize response message.")

[2019-03-18 11:30] Swapygit opened #59 "StatusCode": 14, "Details": "Name resolution failure", "RequestId": null"
I am running the GetCampaign.cs file in google ads examples project but I am getting the following error.

StatusCode": 14,
  "Details": "Name resolution failure",
  "RequestId": null

Customer Id="5826317268"

[2019-03-19 12:33] AnashOommen commented on #59
Hi,

Is the google ads endpoint reachable from uour server? What happens if you try reaching https://googleads.googleapis.com/v0/customers/1234567890/campaignBudgets:mutate ? Does that give you a 404?

[2019-03-20 08:12] Swapygit commented on #59
Hi,

I am getting 401 Request is missing required authentication credential.
I followed the google ads api documentation and enable google ads api in my google API library. But now I am getting the following error

Status(StatusCode=Unavailable, Detail="channel is in state TRANSIENT_FAILURE")

Kindly help

[2019-03-20 10:01] AnashOommen commented on #59
Looks to me like there are connectivity issues from your code to the API server. The error code you received is documented here:

https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md

Does your environment need any other additional configuration tonwork with HTTP/2 (e.g. proxy)?

[2019-03-20 10:46] Swapygit commented on #59
Hi Here is my code,

public class GetCampaigns : ExampleBase
    {

        /// <summary>
        /// The Google Ads API scope.
        /// </summary>
        private const string GOOGLE_ADS_API_SCOPE = "https://www.googleapis.com/auth/adwords";
        /// <summary>
        /// The page size to be used by default.
        /// </summary>
        private const int PAGE_SIZE = 100;

        /// <sum

[2019-03-20 11:06] AnashOommen commented on #59
Hi,

I don’t doubt your code snippet; I rather suspect your machine configuration when connecting to the internet. Do you have another machine where you can try out this code example?

If the issue persists, pls share a zip of a demo project with me (anash@google.com) and I will try replicating the issue at my end.

[2019-03-20 12:18] Swapygit commented on #59
Hi,
My network does not require any work to connect with http/2.
can you please replicate the code at your end and let me know what's the issue.

I have sent you the code snippet

[2019-03-21 03:54] sqreem-geno opened #60 "client.GetService(Services.V1.KeywordPlanIdeaService)"
_"Could not load file or assembly 'Google.Apis.Auth, Version=1.21.0.0, Culture=neutral, PublicKeyToken=4b01fa6e34db77ab' or one of its dependencies. The system cannot find the file specified."_

Every time I call client.GetService function, I experience the above error. Then after resolving taht dependency problem, another one will pop up and then there goes the chain of dependency problem/inconsi

[2019-03-22 16:35] AnashOommen commented on #60
How are you getting your dependency? Are you using Nuget?

[2019-03-22 16:38] AnashOommen commented on #52
Tracking setting is present in the latest stubs: https://github.com/googleads/google-ads-dotnet/blob/master/src/V1/Stubs/Campaign.cs#L684

[2019-03-22 16:38] #52 closed

[2019-03-25 04:55] sqreem-geno commented on #60
It still has the same error. I turned on already automatic binding redirection. I'm doing a Class Library (.NET Framework) if this would help.

[2019-03-25 12:23] Swapygit commented on #59
@AnashOommen  Can you help me with this. I have mailed you my coded snippet

[2019-03-26 22:56] RentCafeDev opened #61 "Google Ads API V1 Sitelink"
Unable to create Sitelink.  I receive the following error:  Google Error:  Status(StatusCode=InvalidArgument, Detail="Request contains an invalid argument.")

I'm also unable to set the FinalUrl with creating  a SiteLinkFeedItem. As you can see from the code below set is not available.

 public RepeatedField<string> FinalUrls { get; }
Please attached for more detail

[SiteLinkIssue.docx](https://g

[2019-03-26 23:01] AnashOommen commented on #61
You can Add() items to FinalUrls, just like you’d do in a List.

On Tue, Mar 26, 2019 at 6:56 PM RentCafeDev <notifications@github.com>
wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-03-27 14:49] RentCafeDev commented on #61
When I use the following:

            return new SitelinkFeedItem()
            {
                LinkText = SiteLinkText,
                //FinalUrls = SiteLinkURL,
                Line1 = DescriptionLine1,
                Line2 = DescriptionLine2

            };
 It indicates that the FinalUrls is read only.

[2019-03-27 16:34] AnashOommen commented on #61
The right way to use the field would be

[code]
The same goes for all repeated fields in the API.

[2019-03-27 17:42] RentCafeDev commented on #61
Does the brackets below indicate that it's a repeated field?

final_urls[]

[2019-03-28 00:07] AnashOommen commented on #61
The fieldtype indicates so.

The type of FinalUrls is RepeatedField<string>

On Wed, Mar 27, 2019 at 1:42 PM RentCafeDev <notifications@github.com>
wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-03-29 19:14] AnashOommen commented on #59
Just wanted to update -- I've been hearing similar complaints from other users. Still investigating...

[2019-03-29 20:23] AnashOommen commented on #59
Could you try setting the Timeout setting to 100000? This is in App.config (if you use one), or if you use code to initialize, then

[code]

The library automatically retries for all variants of StatusCode=Unavailable, and setting the Timeout to a higher value should give more time for the Channel to attempt to recover from error.

[2019-04-01 07:57] Swapygit commented on #59
Hi AnashOommen,

I made changes to the code but I am getting the same error again. Name Resolution Failure or sometimes it throws Transient_Channel_Failure

[2019-04-01 11:03] AnashOommen commented on #59
Name resolution failure definitely translates to a 404.

[2019-04-01 11:05] AnashOommen commented on #60
Are you depending on Google.Apis.Auth in a way other than through the client library dependency? Could you pls share a simple project showing your dependencies so I can take a look?

[2019-04-01 11:23] Swapygit commented on #59
Ok,

Then what could be its resolution

[2019-04-01 12:31] Swapygit commented on #59
Because I tried every possible solution regarding this. I could not get much help from stack overflow.
Is there any network issue that needs to be addressed to the Networking department ?

Kindly help.

[2019-04-02 06:46] Swapygit commented on #59
Hi @AnashOommen ,

Just wanted to update you. The same code is running on one of my colleagues machine and I am getting the output. We use the same network connection in office. Is there anything with the machine config.

[2019-04-02 11:58] Swapygit commented on #59
Hi @AnashOommen

I went to the link https://github.com/grpc/grpc/blob/master/doc/environment_variables.md and added the following logging code

Environment.SetEnvironmentVariable("GRPC_TRACE", "api,http,cares_resolver,cares_address_sorting");
            Environment.SetEnvironmentVariable("GRPC_VERBOSITY", "debug");
            Grpc.Core.GrpcEnvironment.SetLogger(new Grpc.Core.Logging.ConsoleLogge

[2019-04-03 13:09] AnashOommen commented on #10
This is now documented in the README.md, so marking this as fixed.

[2019-04-03 13:09] #10 closed

[2019-04-03 13:10] #53 closed

[2019-04-03 13:16] AnashOommen commented on #11
This is now documented in the README.md.

[2019-04-03 13:16] #11 closed

[2019-04-03 13:17] #61 closed

[2019-04-03 13:17] AnashOommen commented on #60
Is this issue resolved?

[2019-04-03 13:20] AnashOommen commented on #12
I did explore this further, however we decided to stick with the current naming style which is consistent with other Google GRPC APIs.

[2019-04-03 13:21] #12 closed

[2019-04-04 13:34] Swapygit opened #64 "How to set date range as ALL_TIME in google ads api"
Hi, I am fetching campaign level data using google ads api. What value of date range should I set so that I can get the "ALL_TIME" campaign data.

Kindly help

[2019-04-04 13:35] Swapygit commented on #59
Hi @AnashOommen ,

I am fetching campaign level data using google ads api. What value of date range should I set so that I can get the "ALL_TIME" campaign data.

Kindly help

[2019-04-04 14:19] AnashOommen commented on #64
You could do `select campaign.name, metrics.clicks, metrics.impressions from campaign`

If you want the data segmented by date, then you need to do

`select campaign.name, metrics.clicks, metrics.impressions, segments.date from campaign where segments.date >= '2019-01-01' AND segments.date <= '2019-01-31'`

There's no equivalent of `ALL_TIME` in this case. The date range can be large, but ranges h

[2019-04-05 06:47] jaycatapang commented on #60
Hi! This is the packages.config file of the library. All dependencies were downloaded straight from NuGet. When I created a console app with the same functions and all dependencies were downloaded from NuGet as well, all seems to go well.

<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Ads.GoogleAds" version="1.0.0" targetFramework="net47" />
  <package id="Google.Api.Comm

[2019-04-05 06:49] jaycatapang commented on #60
`<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Ads.GoogleAds" version="1.0.0" targetFramework="net47" />
  <package id="Google.Api.CommonProtos" version="1.5.0" targetFramework="net47" />
  <package id="Google.Api.Gax" version="2.6.0" targetFramework="net47" />
  <package id="Google.Api.Gax.Grpc" version="2.6.0" targetFramework="net47" />
  <package id="Google.Apis" versi

[2019-04-05 09:56] Swapygit commented on #64
Hi @AnashOommen

But then we need to specify the start date of every customer id for fetching the All time data which is not a feasible solution. What can be the potential solution for that.

[2019-04-05 10:29] AnashOommen commented on #60
Just so I get this correct, the issue is when you are making a class library, right? All kind of conflicts happen?

To answer your other question, yes, you can migrate to Google Ads API at your earliest convenience. I’ll start looking into replicating this at my end.

[2019-04-05 10:32] jaycatapang commented on #60
Yes. Somehow the problem arises when creating a class library. We deploy the build to a web server by the way and we just do a POST request.

Yes we are doing that as we speak. But we got stuck due to the said problem.

Thank you!

[2019-04-10 19:36] bbatton opened #66 "Authentication Issues"
I have previously been using the googleads-dotnet-lib library to make calls to google ads without issue. After switching to a new dotnet core project I use my previous credentials set up for the googleads-dotnet-lib library the google-ads-dotnet library throws the following error.

'Google.Ads.GoogleAds.V1.Errors.GoogleAdsException; in System.Private.CoreLib.dll ("Status (StatusCode=PermissionDeni

[2019-04-10 19:46] AnashOommen commented on #66
Hi,

1. You can enable the project in Google Developer console, but I recommend turning off any AdBlockers. They've known to cause errors when enabling Google Ads API in the console.

2. Once you do that, Wait for 5 mins and try making the API call again, and it should work.

[2019-04-10 20:22] bbatton commented on #66
Thanks for the reply, that seems to have done the trick. On a side note is there a call in this library to grab all customer accounts retrieving customer id and name? I browsed through the library and I haven't seen a call that is doing that yet.

[2019-04-11 07:58] Swapygit opened #67 "BAD_ENUM_CONSTANT Google ads Query language error"
Hi @AnashOommen ,

I am writing a query in Google ads query language to fetch Account performance report. I want to add a condition in where clause where I want to fetch the records where advertising_channel_sub_type not in "SEARCH_EXPRESS", "DISPLAY_EXPRESS".

So I wrote the following query

SELECT campaign.advertising_channel_sub_type,
	                     campaign.advertising_channel_type,

[2019-04-11 08:34] #67 closed

[2019-04-11 16:31] #66 closed

[2019-04-11 16:37] bbatton opened #68 "Can't Grab Managed Customers"
The endpoint Service.ListAccessibleCustomersAsync(request) under the CustomerServiceClient service will only return the manager customer id as a response instead of the customer id's that the manager has access to. Any insight would be greatly appreciated, thanks as always.

[2019-04-11 20:50] bbatton opened #69 "GoogleAdsServiceClient"
SearchAsync doesn't have a GetAwaiter method so you can't use await making the call run synchronously

[2019-04-11 21:39] AnashOommen commented on #69
Why not use Search instead? Also, can it be awaited on without using getawaiter?

(I know there’s a way, since sync methods are implemented as await on async methods. Will check later once I am on a computer)

[2019-04-11 21:44] AnashOommen commented on #68
ListAccessibleCustomers is meant to return you all the customerids your login email (authenticated user) has access to. You’d then set one of these customerids in the login customer id header to make the remaining calls.

It’s the equivalent of the account picker in Google Ads UI.

If you are looking for the equivalent of getaccounthierarchy, you need to look at CustomerClient.

https://developers

[2019-04-11 21:44] #68 closed

[2019-04-11 21:46] AnashOommen commented on #64
For now, the only thing I can think of is to set a high enough date.(Jan 1, 2000) for instance. Though, you run the risk of getting Deadline exceeded errors with that approach.

I can file an FR with the product team.

[2019-04-11 21:46] #64 closed

[2019-04-11 21:47] AnashOommen commented on #59
For future reference, the issue was with grpc’s dns resolver. Setting the environment variable GRPC_DNS_RESOLVER=native fixes it.

I’ll make this change in the next library version.

[2019-04-17 06:46] Swapygit opened #70 "MessageSecurityException: The HTTP request is unauthorized with client authentication scheme 'Anonymous'"
Hi Team,

I am trying to link to google adwords account using Oauth2 in C# .net . However, I am getting the following error,

**MessageSecurityException: The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'OAuth realm="https://accounts.google.com/OAuthGetRequestToken"'. [Returned while handling POST Request]**

I h

[2019-04-17 19:11] bbatton commented on #69
I am using Search in the time being. VS says it can't be awaited without it, if you know how to do it without await can you send me doc about it. Thanks

[2019-04-17 23:16] AnashOommen commented on #69
Something like this should work:

[code]

[2019-04-17 23:16] #69 closed

[2019-04-17 23:33] AnashOommen commented on #70
Hi Swapygit,

That error seems related to WCF (See http://ddkonline.blogspot.com/2009/11/fix-http-request-is-unauthorized-with.html). The client library uses HTTPClient for OAuth2, and a custom HTTP2 library (unrelated to .NET SDK classes) for making GRPC calls. So it is very unlikely that this error has anything to do with the client library itself.

My guess is that you have some WCF-related set

[2019-04-17 23:33] #70 closed

[2019-04-18 03:52] AnashOommen commented on #60
Here's an sln that shows various types of projects. MainLibrary has dependency on Google.Ads.GoogleAds v1.1.0 => Grpc.Core 1.19.0 and Google.Cloud.Speech.V1 => Grpc.Core 1.18.0. The dependency resolution is done in the binary's App.config.

[ChainedDependencies.zip](https://github.com/googleads/google-ads-dotnet/files/3092384/ChainedDependencies.zip)

[2019-04-18 03:52] #60 closed

[2019-04-23 21:02] bbatton opened #71 "Response Times"
I have been having an extreme delay with the internal parsing of requests to the API. I don't think it is necessarily the time it takes the route to process the query but I am unsure. It is taking 1 - 2 minutes for a request to go out and then to be internally parsed by the library before writing to console. The googleads-dotnet library, however, is almost instant with the same query. Is this norm

[2019-04-23 21:02] bbatton commented on #71
` public static async Task<IEnumerable<SearchGoogleAdsResponse>> GetCampaigns(GoogleAdsSettings settings)
        {
            var AdService = new GoogleAdsClient(SetupAuth(settings));
            PagedEnumerable<SearchGoogleAdsResponse, GoogleAdsRow> searchPagedResponse = null;
            GoogleAdsServiceClient Service = AdService.GetService(Services.V1.GoogleAdsService);
            SearchGoog

[2019-04-23 21:06] bbatton commented on #71
public static async Task<IEnumerable<SearchGoogleAdsResponse>> GetCampaigns(GoogleAdsSettings settings)
        {
            var AdService = new GoogleAdsClient(SetupAuth(settings));
            PagedEnumerable<SearchGoogleAdsResponse, GoogleAdsRow> searchPagedResponse = null;
            GoogleAdsServiceClient Service = AdService.GetService(Services.V1.GoogleAdsService);
            SearchGoogle

[2019-04-23 21:08] bbatton commented on #71
Task<IEnumerable<SearchGoogleAdsResponse>> for some reason keeps getting changed to Task<IEnumerable> when I posted above

[2019-04-23 21:09] bbatton commented on #71
the return keeps getting edited when I comment just an FYI is is returning an IEnumerable of SearchGoogleAdsResponse

[2019-04-30 17:10] devipriya2019 opened #72 "Google-Ads API V1.0 - grpc_csharp_ext.x64.dll not found"
I am using Google ads api .net client in my project.  I get grpc_csharp_ext.x64.dll  not found.

[2019-04-30 17:15] devipriya2019 opened #73 "How to generate report with zero impressions along with segments.Date ?"

[2019-04-30 17:43] AnashOommen commented on #72
Try adding a nuget reference in your project for grpc.core

On Tue, Apr 30, 2019 at 1:10 PM devipriya2019 <notifications@github.com>
wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-04-30 21:15] devipriya2019 commented on #72
Thanks for your inputs.

I installed the Grpc.Core.dll ( Grpc.Core.1.20.1\lib\net45\Grpc.Core.dll )  via "Manage Nuget Packages" under references. I still see the error listed below.

`Error loading native library. Not found in any of the possible locations: \\bin\\grpc_csharp_ext.x64.dll,\\bin\\runtimes/win/native\\grpc_csharp_ext.x64.dll,\\bin\\../..\\runtimes/win/native\\grpc_csharp_ext.x64.dll

[2019-04-30 21:36] devipriya2019 commented on #73
The query listed below , returns rows containing non-zero values for "metrics.impressions" column. However if I remove "segments.date" from the select statement , all the records , including ones that contain zero "metrics.impressions" value are returned.

`string query =
                $@"SELECT
	                 ad_group_ad.ad.id,
	                 campaign.id,
	                 segments.date,

[2019-05-09 13:19] Swapygit opened #77 "The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'OAuth realm="https://accounts.google.com/OAuthGetRequestToken"'. [Returned while handling POST Request"
Hi Team,

I am trying to fetch customer information using google adwords api version v201809 in C# .NET
 But sometimes I get the following error

" The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'OAuth realm="https://accounts.google.com/OAuthGetRequestToken"'. [Returned while handling POST Request"

What is the

[2019-05-12 00:38] bejan commented on #24
Thanks @AnashOommen . we see the [ListAccessibleCustomers ](https://developers.google.com/google-ads/api/docs/account-management/listing-accounts) method is available but also need to get the account hierarchy to display accounts in a structured way.

[2019-05-12 02:24] AnashOommen commented on #24
Folks,

The basic logic right now is,

0. If your login email has access to multiple customers, then use
ListAccessibleCustomers to get all such customers. Pick one of those
accounts as your LoginCustomerId. For most users, there will be only one
such customer, so you can skip this step and use LoginCustomerId rightaway.

1. You retrieve CustomerClient to get all customer ids under a manager
accou

[2019-05-13 19:23] jradcliff commented on #77
Hi,

Please see my colleague's response on the other issue you opened:

https://github.com/googleads/google-ads-dotnet/issues/70

If you still have questions from there, please reopen that issue and provide the additional details @AnashOommen requested.

Thanks,
Josh, Google Ads API Team

[2019-05-13 19:23] #77 closed

[2019-05-13 20:58] bejan commented on #24
This worked for me along with the customer_client_link resource to build a link list and derive the hierarchy. Thanks again, @AnashOommen

[2019-05-14 05:33] YodasMyDad commented on #24
Would love to see some code samples 😏

[2019-05-14 06:25] Swapygit commented on #70
Hi @AnashOommen ,

I went through the link you provided me but did not get any solution for my problem.
Do I need to do any changes in the Web config of my application.

[2019-05-14 20:59] bbatton commented on #24
When using the GetCustomerClientRequest for the CustomerClientService what does the part_1 represent in the resource name?

`var request = new GetCustomerClientRequest()
            {
                ResourceName = "customers/{customer_id}/customerClients/{part_1}"
            };`

[2019-05-14 21:37] bbatton commented on #24
When using the ListAccessibleCustomers call it only returns the customer id of the manager account I have set as the LoginCustomerId in the header for auth.

I have looked through the docs on page https://developers.google.com/google-ads/api/reference/rpc/google.ads.googleads.v1.services#customerservice and I am not getting the specified behavior.

When calling the getCustomer endpoint for the man

[2019-05-15 08:02] danpillay87 commented on #70
Hi @Swapygit can you please provide some more detailed outline of the webconfig you are currently using.

[2019-05-15 08:20] Swapygit commented on #70
Hi @AnashOommen
We are not using WCF related service for making a call to adwords API linking. We are using the google.adwords library.

Please find the below details regarding the web config.

<add key="DeveloperToken" value="lm25z688dVdqw-QXn9UrNw" />
<add key="OAuth2ClientId" value="551007376892-lqjhddrrt6nhrhha0af7vdiooqiltcjr.apps.googleusercontent.com" />
    <add key="OAuth2ClientSecret" va

[2019-05-15 11:45] AnashOommen commented on #73
I don’t think it can be done, IIRC zero impression rows are incompatible with date segments even in the old API.

Could you post this question on https://groups.google.com/forum/m/#!forum/adwords-api also, sonce this question is not specific to .NET library?

[2019-05-15 11:45] #73 closed

[2019-05-15 11:46] AnashOommen commented on #72
What’s your application’s build configuration? Is there a chance you can attach a sample project so I may take a look?

[2019-05-15 14:55] AnashOommen commented on #70
Is that the only thing in your Web.config? Can you mail your full Web.config to googleadsapi-support@google.com and cc anash@google.com so I can start a private discussion with you?

[2019-05-16 05:20] bejan commented on #24
@bbatton Yes, only the manager and maybe some non-MCC linked accounts are returned by ListAccessibleCustomers. Next we need to get the customer list of that manager using the customer_client resource, then call GetCustomer for each of these customers, for example -

[code]

[2019-05-17 04:26] devipriya2019 commented on #72
[SampleWebProject.zip](https://github.com/googleads/google-ads-dotnet/files/3189864/SampleWebProject.zip)
Thank you for your response.
I have attached a sample project. Please let me know if I need to provide any additional info. Thanks.

[2019-05-17 10:35] Swapygit opened #78 "AuthorizationError.TWO_STEP_VERIFICATION_NOT_ENROLLED"
Hi Team,

We are managing our clients google ads account using our Manager account (527-708-3201). We have two step verification enabled in our account. However, when our client to connect to our Manager account using our mobile app, the client get the following error message.

Message: AdWordsApiException: Exception of type 'Google.Api.Ads.AdWords.Lib.AdWordsApiException' was thrown. The customer

[2019-05-17 11:22] AnashOommen commented on #78
The client doesn’t have 2 step authentication enabled. They need to fix it.

On Fri, May 17, 2019 at 6:35 AM Swapygit <notifications@github.com> wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-05-17 12:28] Swapygit commented on #78
Hi @AnashOommen

But I tried to connect to our Google ads account using my personal account and I am able link to the app. And I dont have two step  verification enabled. Then how I am able to link to the manager account

[2019-05-17 12:45] AnashOommen commented on #78
Pls contact the Google Ads support channel from within your Google Ads
account. I am fairly sure it’s a misconfigured account, but my team don’t
have access to the necessary tools to get it fixed.

Tx
Anash

On Fri, May 17, 2019 at 8:28 AM Swapygit <notifications@github.com> wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-05-17 13:42] Swapygit commented on #78
Hi @AnashOommen

I have asked google ads support team to mail me. Waiting for their reply. What is the meaning that the account is misconfigured ?

[2019-05-17 14:11] AnashOommen commented on #78
It’s likely that the 2FA requirement is turned on in the  wrong account. Or
that the client needs to turn on 2FA in his account.

On Fri, May 17, 2019 at 9:43 AM Swapygit <notifications@github.com> wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-05-20 11:53] mihalyb opened #79 "InvalidArgument error"
Hello,

Disclaimer: I am not sure whether this behavior is because of the client library or the API itself.

The problem, in short, is that the API does not return any relevant data. I get a vague ArgumentNullException every time.

This is an existing project using the old AdWords API and this would be the first new feature to use the new Ads API. They share the same configuration.

Upon further i

[2019-05-20 18:13] AnashOommen commented on #79
Could you turn on logging and share it with anash@google.com?

Instructions here:
https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging

On Mon, May 20, 2019 at 7:53 AM mihalyb <notifications@github.com> wrote:

--
Anash P. Oommen | Developer Programs Engineer | anash@google.com |
 +1-650-440-2854

[2019-05-20 20:48] #78 closed

[2019-05-20 21:06] AnashOommen commented on #72
Hi,

I have couple of questions for you:

1. Why is it that you use Nuget packages for Microsoft.AspNet.Mvc and jquery, but not for Google.Ads.GoogleAds? Is there a chance you can use Nuget to add reference to Google.Ads.GoogleAds? This is the preferred approach.

2. How did you obtain the assemblies in \ThirdpartyAssemblies folder? If you absolutely can't use the Nuget package for Google.Ads.Goog

[2019-05-20 22:09] AnashOommen commented on #71
I can't replicate this at my end, it works in a few seconds. Is there a zipped project (without credentials) you can share so I can try to replicate?

[2019-05-21 16:15] jordan-sightly opened #80 "Client not working in Net Core Web API context"
I have created a net core console app that uses the client and successfully retrieves data.  However, when I add a net core web api project and call the same logic, all queries time out and return a "TRANSIENT_FAILURE" message.  This only happens if I run the web API and make http calls into it -- running the console app still works.

[2019-05-21 16:57] AnashOommen commented on #80
I suspect this is due to https://github.com/googleads/google-ads-dotnet/issues/59. Could you see if the recommended fix on that bug works for you?

[2019-05-21 17:23] jordan-sightly commented on #80
Thank you for the quick response.  You were correct... and I had that code in the console app Program.cs but it was missed in the web API.

Is there an ETA on when that fix will be released in the client?

[2019-05-21 17:23] #80 closed

[2019-05-23 18:01] AnashOommen commented on #79
I cannot replicate this with the latest v1_3 API, so I am marking this as closed for now. Please reopen if the issue persists.

[2019-05-23 18:01] #79 closed

[2019-05-24 10:19] tanveerhamidpolyvista1 commented on #72
Dear Anash,

I am facing the same issue, I have followed the above mentioned steps, still getting the same error.

I have installed updated version of Grpc.Core but issue not resolved.

Please help me to fix this issue.

[2019-05-24 14:55] AnashOommen commented on #72
@tanveerhamidpolyvista1 is there a reason why you are not using the Nuget package instead? That's the official way of distributing this library.

[2019-05-24 15:01] AnashOommen opened #82 "Library doesn't log PartialFailures correctly"
PartialFailures appear in the Details log as a binary encoded string instead of plaintext.

[2019-05-29 19:24] jordan-sightly opened #84 "Connected TV device stats not working: v2.1.0 client (API 1.3)"
Connected TV device stats are not working in the latest release.  When I query by device, I don't get a connected TV result back, but the Desktop result appears to be the sum of Desktop and Connected TV.

[2019-05-31 07:06] tanveerhamidpolyvista1 commented on #72
Anash,

I have installed Google.Ads.GoogleAds nuget package using Visual studio nuget package manager.

When I install this package in a new project it works perfect, but when add the reference of Grpc.Auth, Grpc.Core, Grpc.Core.Api I get this error.

Error Detail:

Error loading native library. Not found in any of the possible locations: D:\ProductSuite\IPDFWithGoogleAnalytics_Production_AdsAPI\C

[2019-05-31 14:28] AnashOommen commented on #84
Could you pls post on the forum? https://groups.google.com/forum/#!forum/adwords-api

This is an API-specific issue and you'd getter faster responses on the forum.

[2019-05-31 14:28] #84 closed

[2019-05-31 15:59] AnashOommen commented on #72
Could you please try posting here? https://github.com/grpc/grpc/issues. I'll keep this bug open until we get directions from the grpc team on how to proceed.

[2019-05-31 20:17] AnashOommen opened #86 "LROs don't work as expected"
LongRunningOperations don't work, because we are not setting credentials to the underlying service instances.

[2019-06-03 09:51] Swapygit opened #87 "Failed to exchange authorization code for access token"
Hi Team,

We are managing our clients google ads account using our Manager account (527-708-3201). When our client to connect to our Manager account using our mobile app (**adwords API**) I am getting the following error.

Failed to exchange authorization code for access token.

Kindly tell me what is the reason behind this error. How can I resolve this.

[2019-06-10 07:40] tanveerhamidpolyvista1 commented on #72
Anash,

I have opened a new issue, you can see the detail on below link.

https://github.com/grpc/grpc/issues/19307

[2019-06-10 14:25] AnashOommen commented on #87
Hi Swapygit,

You need to look at the response returned by the server to understand why. If you turn on logging, the error logs get captured in the details log. Another option is to use Fiddler to capture these logs, as explained here: https://github.com/googleads/googleads-dotnet-lib/wiki/How-to-capture-SOAP-messages#option-2-use-fiddler

[2019-06-10 14:35] AnashOommen commented on #71
Hi Brandon,

I am closing this bug for now as non-replicable, but feel free to reopen whenever you have additional details to share.

[2019-06-10 14:35] #71 closed

[2019-06-11 17:35] AnashOommen commented on #59
Fixed in 2.1.0.

[2019-06-11 17:35] #59 closed

[2019-06-11 17:36] AnashOommen commented on #86
Fix is now in GitHub. Will do a release shortly.

[2019-06-11 17:37] AnashOommen opened #93 "Increase the grpc.max_receive_message_length to 64MB"
Right now, grpc.max_receive_message_length defaults to 4MB, which is too small for some report requests, leading to RESOURCE_EXHAUSTED errors. Increase this limit to 64MB so that wider report rows work fine.

[2019-06-11 17:39] AnashOommen opened #94 "Increase grpc.max_metadata_size to 16MB"
Right now, grpc.max_metadata_size is set to 4 KB, so if a large enough exception happens (e.g. big request, multiple errors on most of the uploaded operations), then the details cannot be retrieved since the client library throws a RESOURCE_EXHAUSTED error instead. Increase the metadata size limit so that the library can correctly receive and decode these exceptions.

[2019-06-11 17:41] AnashOommen opened #95 "Cache channels for services..."
Right now, channels are not cached; a new channel is created every time a service is created. This slows down new service creation. Adding caching support so the performance improves.

[2019-06-11 17:43] AnashOommen opened #96 "Provide users with a way to override call settings"
Provide users with a way to override call settings on a per-service level. Right now, this is exposed on a per-call basis only. While that's more granular, it is also a lot of boilerplate code for users. Exposing call settings at service level tries to strike a balance between usability and granularity.

[2019-06-11 17:46] AnashOommen opened #97 "Honor the timeout settings in generated stubs.."
Right now, the timeout settings in generated stubs are not honored by the client library. Update the factory construction code so that these settings are honored.

[2019-06-11 17:49] AnashOommen opened #98 "Align the timeouts in generated stubs to the server settings..."
The timeouts that are used by the client library are pretty short compared to the server settings. As a result, users get DEADLINE_EXCEEDED for medium to large size Search() requests and mutate requests. Update the stubs so that the client-side timeouts align better with the server-side timeouts.

Related: https://github.com/googleads/google-ads-dotnet/issues/97

[2019-06-11 17:50] AnashOommen commented on #82
https://github.com/googleads/google-ads-dotnet/pull/83

[2019-06-11 20:13] AnashOommen opened #99 "Add tests for CachingChannelFactory class."

[2019-06-28 17:56] aukevin opened #108 "Exception Thrown in Google.Ads.GoogleAds.Logging.LoggingInterceptor (2.2)"
I started getting an exception thrown from the LoggingInterceptor when I upgraded from 2.0 to 2.2. I think it might be related to this change made in 2.1:

To generate the logs, I had set:
`TraceUtilities.Configure(TraceUtilities.DETAILED_REQUEST_LOGS_SOURCE, listener, SourceLevels.All);`
`TraceUtilities.Configure(TraceUtilities.SUMMARY_REQUEST_LOGS_SOURCE, listener, SourceLevels.All);`

Is anyone

[2019-07-03 07:31] abdullahakyol49 commented on #47
As you have stated I installed the package grpc.cor but I still get the same error, please can you help me? Thanks.
![Ekran Alıntısı](https://user-images.githubusercontent.com/46396185/60572145-a4a10680-9d7d-11e9-874e-5b6f746a1a6f.PNG)
![Ekran Alıntısı1](https://user-images.githubusercontent.com/46396185/60572146-a4a10680-9d7d-11e9-94c1-33c84d21ff19.PNG)

[2019-07-11 22:56] RentCafeDev opened #111 "Enable logging"
I have tried to enable logging by adding the following to my code:

// Detailed logs.
TraceUtilities.Configure(TraceUtilities.DETAILED_REQUEST_LOGS_SOURCE,
    "C:\\logs\\details.log", System.Diagnostics.SourceLevels.All);

// Summary logs.
TraceUtilities.Configure(TraceUtilities.SUMMARY_REQUEST_LOGS_SOURCE,
    "C:\\logs\\summary.log", System.Diagnostics.SourceLevels.All);

The above is from the

[2019-07-22 19:57] wihl commented on #111
Please update to the latest version of this library and follow the instructions in the README. V1_0 does not logging.

[2019-08-08 13:05] sqreem-geno opened #112 "Keyword Planner keyword forecast"
Keyword planner keyword forecast and historical produces different value compared to the one shown in Google Ads website.

What should be the KeywordPlanCampaign.CpcBidMicro value set to?

What is its currency? Is it default to the account currency settings?

I think that some of my questions mentioned are the factor that produces the difference in values.

[2019-08-21 01:10] AnashOommen commented on #95
Fixed in GitHub.

[2019-08-21 01:12] AnashOommen commented on #108
I think this was related to the partial failure support I added. I'll try getting in a fix in the next release.

[2019-08-21 11:48] brynnborton commented on #60
Hi Anash

did this issue get resolved we are getting the same error i.e. the nuget package installs 1.3.9 of Google.Apis.Auth by default.

We have a binding redirect in the app.config as follows

`<dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.39.0.0" newVersion="1.39.0.0" /

[2019-09-07 02:17] bilalagha opened #116 "Example project generates Exception : 'Could not find a part of the path 'C:\logs\details.log'.'"
When Debugging Example project generates below exception if there is no log folder in C drive. Should it not be creating a folder by default or ask to create a new log folder  as its an exe project.

{System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\logs\details.log'.
   at System.IO.FileStream.OpenHandle(FileMode mode, FileShare share, FileOptions options)
   at System.

[2019-09-07 02:52] bilalagha opened #117 "Minor:Example exe usage message shows assembly name and can be more clear to user"
Running example exe without example name display below usage example message, which can be more clear, the the assembly name displayed instead of exe name , also , Instead of supported examples , supported example names would be more clearer as matching with the above usage string

===============  usage example  message ========================
Runs Google Ads API code examples
Usage : Google.Ads

[2019-09-09 14:09] AdrianPell opened #118 "GoogleAdsClient always generates new access token"
In the Google Adwords API, there was a callback in the authentication flow (on OAuth2ProviderForApplications) which would be called whenever an access token was refreshed, and also a call to refresh the access token if needed. We used this because we made many independent calls to the Adwords API and cached the access token to avoid the overhead of refreshing.

In the Google Ads API, it seems that

[2019-09-10 09:12] Swapygit commented on #70
Hi @AnashOommen
This issue has re occurred when the user tried to link from our Mobile App.

Can you help in sorting this.

[2019-09-11 22:04] tylerfoulkes opened #119 "invalid_client error when using service account + domain wide delegation to authenticate"
I am trying to authenticate into Google Ads using this API client. I am trying to authenticate using a service account + gsuite domain wide delegation. I have performed all of the steps in [this](https://developers.google.com/google-ads/api/docs/oauth/service-accounts) documentation but am receiving an invalid_client error from Google. Below is the code I am running.
[code]
The code is supposed to

[2019-09-11 23:37] AnashOommen commented on #119
Try setting a breakpoint on the line where you get the svc. See if (1) the json was loaded correctly into config and (2) that’s the correct client Id you whitelisted in your gsuite domain. That’s the primary suspect.

[2019-09-11 23:52] AnashOommen commented on #117
If you are interested in contributing, feel free to send me a pull request :-)

[2019-09-11 23:58] bilalagha commented on #117
Sure, Will do it
Thanks
Bilal

[2019-09-12 00:38] tylerfoulkes commented on #119
@AnashOommen Yes the config object in the svc is populated with all of the values that I would expect. Below are the config fields that are populated correctly to my knowledge, am I missing something?
`OAuth2ClientId`
`OAuth2Mode`
`OAuth2PrivateKey`
`OAuth2PrnEmail`
`OAuth2ServiceAccountEmail`
`OAuth2Scope`

[2019-09-12 01:45] AnashOommen commented on #116
It should be commented out. Do you want to send a pull request? Happy to review it.

[2019-09-12 01:52] bilalagha commented on #116
Sure Will do it.

[2019-09-20 12:33] jtattermusch opened #120 "Upgrade to gRPC C# 2.x"
Context: https://github.com/grpc/proposal/blob/master/L57-csharp-new-major-version.md

The ads client libraries should upgrade to gRPC C# 2.x at some point. There's no functional changes, you just need to upgrade the Grpc.Core nuget and rebuild. Details are in the link above.

Please provide the ETA of making the switch (if already known).

[2019-09-20 20:52] AnashOommen commented on #120
We are blocked on lack of artman support, it still generates code for v1.10 of grpc. They don’t have any immediate plans due to the amount of work involved in doing so.

See b/140880645 for an internal discussion.

[2019-10-01 00:46] tylerfoulkes commented on #119
@AnashOommen Is there anything else that I could potentially be missing?

[2019-11-07 14:17] siddharthmishrasm opened #122 "GetCampaign.cs is not returning ALL Campaigns of customer."
Firstly I link my customer to my manager account and then I'll try to get the campaigns of the customer from the Api and it's not returning any Campaign although customer have a active smart campaign running, Then I add one more campaign in Customer from Api and try GetCampaign again then it is returning new campaign which I created but the already existing smart campaign is still not returning.

[2020-01-06 20:23] AdrianPell commented on #118
@AnashOommen Any thoughts on this one?

[2020-01-06 21:24] AnashOommen commented on #118
Hi Adrian,

I'll get you a fix for this issue in the next push.

[2020-01-06 21:26] AdrianPell commented on #118
Thanks Anash!

[2020-01-15 20:33] AnashOommen commented on #111
I'm closing this issue as not replicable. If the issue persists, please feel free to reopen.

[2020-01-15 20:33] #111 closed

[2020-01-15 20:34] AnashOommen commented on #94
This was fixed in 2.2.0.

[2020-01-15 20:34] #94 closed

[2020-01-15 20:35] AnashOommen commented on #95
This was fixed in 2.2.0.

[2020-01-15 20:35] #95 closed

[2020-01-15 20:35] AnashOommen commented on #86
This was fixed in 2.2.0.

[2020-01-15 20:35] #86 closed

[2020-01-15 20:36] AnashOommen commented on #72
I'm closing this issue since I cannot replicate this in the latest version. Feel free to reopen if the issue persists.

[2020-01-15 20:36] #72 closed

[2020-01-15 20:37] AnashOommen commented on #82
This issue was fixex in 2.2.0.

[2020-01-15 20:37] #82 closed

[2020-01-15 20:37] AnashOommen commented on #93
This was fixed in 2.2.0.

[2020-01-15 20:37] #93 closed

[2020-01-15 20:39] AnashOommen commented on #87
I'm marking this issue as not replicable. Feel free to open a new issue if this persists.

[2020-01-15 20:39] #87 closed

[2020-01-15 20:40] AnashOommen commented on #97
This was fixed in 2.2.0.

[2020-01-15 20:40] #97 closed

[2020-01-15 20:40] AnashOommen commented on #98
This was fixed in 2.2.0.

[2020-01-15 20:40] #98 closed

[2020-01-15 20:43] AnashOommen commented on #122
Maybe that old type campaign isn't supported in the API. Since this issue is not specific to the librry, could you post on https://groups.google.com/forum/#!forum/adwords-api ?

[2020-01-15 20:43] #122 closed

[2020-01-15 20:44] AnashOommen commented on #112
Since this issue is not specific to the librry, could you post on https://groups.google.com/forum/#!forum/adwords-api ?

[2020-01-15 20:44] #112 closed

[2020-01-15 20:45] AnashOommen commented on #119
Hi Tyler, is this issue resolved for you?

[2020-01-15 20:45] #119 closed

[2020-01-15 20:46] AnashOommen commented on #108
This should be fixed in the latest release.

[2020-01-15 20:46] #108 closed

[2020-01-21 15:38] AnashOommen commented on #116
https://github.com/googleads/google-ads-dotnet/pull/144

[2020-01-22 14:57] #16 closed, assigned to AnashOommen

[2020-01-22 15:28] AnashOommen commented on #99
Fixed in https://github.com/googleads/google-ads-dotnet/pull/146

[2020-01-25 02:20] aukevin opened #151 "GoogleAds 2.7.0 looks for Google.Protobuf 3.8.0.0"
Hi,

 I recently tried to upgrade to the latest version of this library ([2.7.0](https://www.nuget.org/packages/Google.Ads.GoogleAds/2.7.0)) but had some issues where the new code would look for a version of Google.Protobuf lower than the required version. This is the stack trace I was seeing:

Is anyone else seeing this issue?

Thanks,
Kevin

[2020-01-27 22:18] aukevin commented on #151
Fixed by adding binding redirects.

[2020-01-27 22:18] #151 closed

[2020-01-27 22:50] #116 closed

[2020-01-27 22:52] AnashOommen commented on #118
Hi Adrian,

With v2.7.0, you should be able to extend `GoogleAdsConfig` class and add your own logic for refreshing credentials. Let me know if that works for you.

[2020-01-27 22:52] #118 closed

[2020-01-27 22:52] AnashOommen commented on #117
Fixed in v2.7.0.

[2020-01-27 22:52] #117 closed

[2020-01-27 22:53] #99 closed

[2020-01-30 23:13] tiger2014 opened #152 "google-ads-dotnet vs googleads-dotnet-lib"
If we will create a project to manage our accounts of google ads. Which one should we use?

[2020-01-31 14:29] AnashOommen commented on #152
Short answer: You can use either of them.

Long answer:

```googleads-dotnet-lib``` corresponds to the [```AdWords API```](https://developers.google.com/adwords/api/docs/guides/start). This is the API that's widely used by developers right now.

```google-ads-dotnet``` corresponds to the [```Google Ads API```](https://developers.google.com/google-ads/api/docs/start). This API is the next iteration

[2020-03-12 19:50] #152 closed

[2020-03-13 16:29] AnashOommen opened #157 "GetExpandedTextAds.cs example is broken."
The filter condition in GWQL should be ad_group_ad.ad.type.

[2020-03-13 16:30] AnashOommen opened #158 "Resourcenames.cs doesn't have a utility method for Ad resourcename"

[2020-03-13 16:31] AnashOommen opened #159 "Examples.csproj still points to 2.7.0 nuget package post 2.8.0 release"
Seems to be the outcome of a bad merge somewhere.

[2020-03-13 16:32] AnashOommen opened #160 "Examples\Migration\Program.cs has stale references"
Examples\Migration\Program.cs has stale references to v2 types that aren't needed,

[2020-03-19 00:55] PierrickVoulet opened #163 "Wrong argument name in code example"
It should be `adId` instead of `adGroupId`.

https://github.com/googleads/google-ads-dotnet/blob/99b326ab1b3c9d69a3929f00d02303a72afed34c/examples/BasicOperations/UpdateExpandedTextAd.cs#L45

[2020-03-19 16:50] AnashOommen opened #164 "Make AuthenticateInStandaloneApplication available as a Nuget Tool"
Right now, one as to download and compile the AuthenticateInStandaloneApplication example locally to generate the OAuth token. This is not a good experience. It would be better if this were available as a tool to run locally.

[2020-03-19 16:58] AnashOommen commented on #164
Notes so I don't forget this later.

1. Visual Studio 2019 and netcoreapp3.0 are needed.
2. Look at the contents of https://www.nuget.org/packages/Grpc.Tools/ package.
3. `dotnet publish -r win10-x64 -p:PublishSingleFile=true` and so on for other platforms.

[2020-03-27 14:23] AnashOommen opened #168 "All code examples should rethrow the exception it catches"
Right now, we do a catch-and-print approach for errors, which causes the test cases to pass even in a broken example, because they expect that a GoogleAdsException will be thrown.

[2020-03-27 15:55] AnashOommen commented on #168
Fixed in https://github.com/googleads/google-ads-dotnet/pull/169

[2020-04-21 14:27] AndrewMBurke commented on #24
Complete, see [here](https://github.com/googleads/google-ads-dotnet/blob/master/examples/AccountManagement/GetAccountHierarchy.cs).

[2020-04-21 14:27] #24 closed

[2020-05-11 22:56] tylerfoulkes commented on #119
@AnashOommen I was not able to get the `SERVICE_ACCOUNT` authentication working so I tried switching to `APPLICATION` auth and I am still experiencing the same `invalid_client` error. My code is below.

[code]

I have tried creating a new project in GCP and generating new client/secret values and I still get the same `invalid_client` error when I run the above code.

[2020-05-12 15:58] AnashOommen commented on #168
Fixed in v2.9.0.

[2020-05-12 15:58] #168 closed

[2020-05-12 16:00] AnashOommen commented on #160
Fixed in v2.9.0.

[2020-05-12 16:00] #160 closed

[2020-05-12 16:00] AnashOommen commented on #158
Fixed in v2.9.0.

[2020-05-12 16:00] #158 closed

[2020-05-12 16:00] AnashOommen commented on #159
Fixed in v2.9.0.

[2020-05-12 16:00] #159 closed

[2020-05-12 16:01] AnashOommen commented on #157
Fixed in v2.9.0.

[2020-05-12 16:01] #157 closed

[2020-05-12 18:42] tylerfoulkes commented on #119
It seems to be working now, although I am not sure what I tweaked to get it working.

[2020-05-12 18:48] tylerfoulkes opened #184 "Services.V3.CustomerService request hangs in .NET Framework 4.7.2 MVC project"
I am running the code below and it works fine in a .NET Core 3.1 test project, however when I run the same code in a .NET Framework 4.7.2 MVC project it just hangs on `svc.ListAccessibleCustomers();` and never returns anything even when lowering the timeout config setting.

[code]

[2020-05-13 03:05] tylerfoulkes commented on #184
I have narrowed this issue down to a .NET MVC project specifically. I have created two Console projects (.NET Core and .NET Framework 4.7.2) and both seem to work fine.

[2020-05-14 20:28] brookjim opened #185 "Docs Feature Request: OfflineUserDataJobService"
v2.9.0 client library
4.5.2 .NET framework
Win 10

Services.V3.OfflineUserDataJobService has been added to the latest release. There appears to be no documentation or sample code for use uploading Store Sales conversions (except some gRPC definitions), can someone provide a pointer if there is? I created an uploading app based on a best guess, but it hangs indefinitely on RunOfflineUserDataJob. Is

[2020-05-26 13:28] tylerfoulkes commented on #184
After a little bit of digging and some package updates this ended up being related to the wrong versions of the grpc.core and grpc.core.api packages installed in MVC project.

[2020-05-26 13:28] #184 closed

[2020-05-29 16:02] bonniecpk opened #191 "Integrate TraceUtilities logging into something like Kibana or DataDog"
**Describe the problem you are trying to solve**
I have no idea how to integrate TraceUtilities logging into something like Kibana or DataDog. Can you please provide such feature and documentation on this?

**Describe the solution you would like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
TraceUtilities is helpful for debugging only. How else can developers use i

[2020-05-29 18:29] vyurbonas opened #192 "Adwords api authentication with service account"
**Actions taken**
This is my App.config section :

[code]

**Expected result**
Authentication with service account without any interaction from the user

**Actual result**
Got error:"Missing required parameter: refresh_token", Uri:""

** Most likely cause of error (suggested by support via email) and workaround:
Looks like reading the OAuth2Mode from App.config in this method.
https://github.com/g

[2020-06-05 19:58] AnashOommen commented on #120
Fixed in 3.0.0.

[2020-06-05 19:58] #120 closed

[2020-06-05 19:59] AnashOommen commented on #163
Fixed in 3.0.0.

[2020-06-05 19:59] #163 closed

[2020-06-10 06:25] mithun146 opened #197 "googleAdsService.SearchStream response callback doesn't work"
I'm trying to get all campaigns by using the below code

`        GoogleAdsServiceClient googleAdsService = client.GetService(Services.V3.GoogleAdsService);

        // Create a query that will retrieve all campaigns.
        string query = @"SELECT
                        campaign.id,
                        campaign.name,
                        campaign.network_settings.target_content_network

[2020-06-16 16:10] fsutanto88 commented on #119
Hi Tyler, were you able to work with the service account or the application OAuth2?

[2020-06-16 16:19] tylerfoulkes commented on #119
@fsutanto88 I wasn't able to get the service account authentication working but I was able to get the standard application OAuth2 flow working.

[2020-06-18 21:36] AnashOommen commented on #185
Hi Brook,

If you have an example that you tried, but didn't work, then feel free to drop an email to googleadsapi-support@google.com and addressed to me. I'll take a look.

Right now, I don't think there's a code example planned for this feature, but I'll try to get it into the team's list of TODOs for the next quarter.

[2020-06-18 21:37] AnashOommen commented on #192
I thought this made it into v3.0.0, but a bad GitHub merge caused this fix to drop. I'll get this live for v3.1.0.

[2020-06-18 21:38] AnashOommen commented on #197
Hi Mithun, I wonder if the rowcount being zero is the issue. Let me try.

[2020-06-18 21:51] AnashOommen commented on #197
Yep, https://github.com/googleads/google-ads-dotnet/blob/master/src/V3/ServiceHelperMethods.cs#L56 doesn't enter the loop if there are no results.

Perhaps I can modify the code to invoke it at least once, with an empty result?

[2020-06-26 23:54] vladkuz opened #201 "Call to TraceUtilites.Configure throws an exception occasionally"
**Which version of the client library are you using?**
3.0.0

**Which version of .NET are you using?**
Net Core 3.1

**Which operating system (Linux, Windows, ...) and version?**
Windows 10

**Actions taken**
[code]

**Expected result**
No exceptions thrown

**Actual result**
Occasional System.InvalidOperationException(Message="Collection was modified; enumeration operation may not execute.")

It

[2020-07-06 18:28] AndrewMBurke commented on #185
A code example for the OfflineUserDataJobService to upload conversion data is currently in internal development. I will update when it is live.

[2020-07-09 18:57] #185 closed

[2020-07-10 20:14] AndrewMBurke opened #203 "ResourceNames.PaymentsAccount returns malformed resource name"
**Which version of the client library are you using?**
V3

**Which version of .NET are you using?**
.NET Core 3.0

**Which operating system (Linux, Windows, ...) and version?**
Linux

**Actions taken**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]
Call to ResourceNames.PaymentsAccoun

[2020-07-14 14:28] #203 closed

[2020-07-15 21:05] AnashOommen commented on #201
Fixed in v4.0.0.

[2020-07-15 21:05] #201 closed

[2020-07-15 21:05] AnashOommen commented on #197
Fixed in v4.0.0.

[2020-07-15 21:05] #197 closed

[2020-07-15 21:06] AnashOommen commented on #185
Fixed in v4.0.0.

[2020-07-15 21:06] AnashOommen commented on #192
Fixed in v4.0.0.

[2020-07-15 21:06] #192 closed

[2020-07-15 21:07] AnashOommen commented on #203
Fixed in v4.0.0.

[2020-07-23 15:48] va-b opened #211 "invalid_client with service account"
Google.Ads.GoogleAds v4.0.0
Net Core 3.1
win10-x64

**Actions taken**
`            var client = new GoogleAdsClient(new GoogleAdsConfig
            {
                DeveloperToken = DeveloperToken,
                OAuth2Mode = OAuth2Flow.SERVICE_ACCOUNT,
                OAuth2SecretsJsonPath = Path.Combine(Directory.GetCurrentDirectory(), "responsive-hall-284114-1d4e3cda539a.json"),

[2020-08-10 08:17] keeblebogdan commented on #211
I have the same issue

[2020-08-10 08:18] morsanu commented on #211
Same here.

[2020-08-10 08:42] va-b commented on #211
@keeblebogdan   No. Finally we have agreed with the manager to use regular accounts

[2020-08-12 17:04] ComicalHysteria opened #223 "GetAsyncEnumerator() on GoogleAdsRow is not suitable"
**Which version of the client library are you using?**
4.0.0
**Which version of .NET are you using?**
3.1
**Which operating system (Linux, Windows, ...) and version?**
Windows
**Actions taken**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]
`               // Issue the search request.

[2020-08-14 19:29] zgf opened #227 "Api behavior change once we switch package version"
HI folks,

recently, we are going to upgrade our nuget package version from  2.9 to 4.0.0
but we hit some behavior change after change the version number in nuget.config.
For exmaple,
For this API:
V2.Service.MutateAdGroupAdsAsync
the inputs is:
[{"UpdateMask":null,"PolicyValidationParameter":null,"Create":{"ResourceName":"","Status":2,"AdGroup":"customers/6360593950/adGroups/109644398391","Ad":{"

[2020-08-18 01:58] zgf opened #229 "Api behavior change once we switch package version"
**Which version of the client library are you using?**
2.9 and 4.0.0
**Which version of .NET are you using?**
.net core 3.1
**Which operating system (Linux, Windows, ...) and version?**
Windows
**Actions taken**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
ecently, we are going to upgrade our nuget package version from 2.9 to 4.0.0
but we hit some beha

[2020-08-18 12:18] sarahliuict opened #230 "Can you add an example to remove the UserList that's created in AddCustomerMatchUserList.cs ?"
Referenced the sample code to remove campaign/adgroup/ad, I wrote this code wanting to remove the userlist after CreateCustomerMatchUserList -

      UserListServiceClient userListService = _adsClient.GetService(Services.V4.UserListService);
      UserListOperation userListOperation = new UserListOperation { Remove = audienceResourceName };
      try
      {
        MutateUserListsResponse respons

[2020-08-19 16:11] AndrewMBurke opened #231 "Update example descriptions to expression-bodied properties"
**Describe the problem you are trying to solve**
Example descriptions are currently delivered through overridden get methods.  These can instead be more concisely provided using expression-bodied properties: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/statements-expressions-operators/expression-bodied-members

**Describe the solution you would like**
Change:
`public override s

[2020-08-20 20:15] AnashOommen commented on #229
PartialFailure flag is no longer on the method overload, but on the request object now. See https://github.com/googleads/google-ads-dotnet/blob/master/examples/ErrorHandling/HandlePartialFailure.cs#L208

I wonder if there's some overload that still makes the old code work fine due to some weird C# type casting suppressing a compilation error.

[2020-08-20 20:20] AnashOommen commented on #211
That's strange, I am pretty sure this got fixed in 4.0.0. Could you send me a way to replicate this issue by mailing a json file and account email to googleadsapi-support@google.com? Please address the email to Attn:Anash so it reaches me.

[2020-08-20 20:23] AnashOommen commented on #227
Duplicate of #229.

[2020-08-20 20:23] #227 closed

[2020-08-20 20:33] AnashOommen commented on #223
Try
[code]

I'll get someone to take a closer look as to why the error happens.

[2020-08-20 20:37] AnashOommen commented on #230
Hi Sarah,

I'm fairly sure that your code is correct, and that the API just doesn't support what you are trying to do. To double-check, could you please turn on logging and capture a request log for me? Mail it over to googleadsapi-support@google.com and address the email to Attn:Anash so it gets routed to me.

Tx
Anash

[2020-08-25 17:41] #231 closed

[2020-09-01 20:58] AndrewMBurke commented on #211
The issue has been identified and is fixed in the upcoming V5 release.

[2020-09-02 06:10] keeblebogdan commented on #211
Thank you!

[2020-09-04 19:53] TylerPatton44 opened #235 "Accounts with active campaigns"
What would be the best way to get customers that have active campaigns?
Is there a way to get campaigns for a list of customers with a single API call?

[2020-09-10 13:32] #235 closed

[2020-09-10 13:33] #229 closed

[2020-09-10 13:34] AnashOommen commented on #211
This is now fixed. Please reopen if you see it recurring.

[2020-09-10 13:35] AnashOommen commented on #223
I confirmed from the Google Cloud SDK team that the previous suggestion is valid. Closing this issue as WAI.

[2020-09-10 13:35] #223 closed

[2020-09-15 09:36] ricardohns opened #240 "Include/Exclude hotel group(s) in/from Hotel Campaigns"
**Problem description:** We are currently adding **Hotel Groups** to our **Ad Group** via Google Ads platform.
This is achieved by following those steps:

1. Select **All campaigns**.
2. Choose a campaign (let's say CPC - fixed per night).
3. Click on an **Ad Group** for the chosen campaign.
4. In the second side nav bar click on **Hotel Groups**
5. Select one item (hotel) from the grid and includ

[2020-09-16 17:20] AnashOommen opened #241 "Consider switching to CommandLineParser for code examples..."
Using CommandLineParser for code examples might be a better way to understand them than the current approach where we infer the command line options from the Run method's signature.

[2020-09-29 14:30] AnashOommen commented on #240
I've added a code example on https://github.com/googleads/google-ads-dotnet/pull/242/files. Please feel free to use it.

[2020-10-02 05:55] mbinder007 opened #243 "Google Ads API - Error received from peer ipv6"
Hi, I am trying to make an update call to GoogleAds and I received the message below. Please could someone help?

Michael

Method Name: /google.ads.googleads.v5.services.CampaignService/MutateCampaigns
Host: https://googleads.googleapis.com

Headers: {
  "x-goog-api-client": "gl-dotnet/3.0.0 gapic/5.0.0
gax/3.1.0+acac8dfe75024cb815497966fe13fc6cb1a1b0ed grpc/2.31.0",
  "developer-token": "REDACTED

[2020-10-06 14:28] AlesSturala opened #244 "Google Ads API - saving reports as XML/JSON dynamically"
Hello,
in our .NET project we're in the process of migrating to the new Google Ads API from the Google AdWords API. In the old version what we do is running lot of AWQL queries and storing those into AVRO file for big data analysis (AVRO is similar format to CSV or JSON). Basically we would parse the received XML report and transform it into AVRO, all on the meta-level - so each node of the XML on

[2020-10-08 08:55] hojun920 opened #245 "Can not install 'Google.Ads.GoogleAds v5.0.0' with Nuget Package Management"
**Which version of the client library are you using?**
 - Google.Ads.GoogleAds v5.0.0

**Which version of .NET are you using?**
 - .NET Framework 4.7.2

**Which operating system (Linux, Windows, ...) and version?**
 - Windows 10 Pro (x64), Visual Studio 2015 version 14.0 Update 3

When installing with Nuget Package Management, the following error message is displayed.

[code]

'Google.Ads.GoogleAd

[2020-10-09 17:41] AnashOommen commented on #245
I think this has to do with Visual Studio 2015, rather than .NET SDK 4.7.2. This is what Visual Studio 2019 generates for me, when creating a Console Application for .NET SDK 472 and adding Nuget reference to Google.Ads.GoogleAds, 5.0.0.

[TestDeps.zip](https://github.com/googleads/google-ads-dotnet/files/5356615/TestDeps.zip)

Could you try this with Visual Studio Community Edition or just compar

[2020-10-20 01:27] hojun920 commented on #245
Thank you @AnashOommen

solved in visual studio 2019

[2020-10-20 01:27] #245 closed

[2020-10-23 13:28] nwbirnie opened #246 "ParallelReportDownload example should catch exceptions on each API call"
**Describe the problem you are trying to solve**

Running ParallelReportDownload, with an invalid customer ID, all async requests fail because of one invalid ID.

**Describe the solution you would like**

Only the invalid ID call should fail, not all requests.

**Describe alternatives you've considered**

**Additional context**
[code]

[2020-11-12 17:46] AnashOommen commented on #244
Apologies for the delay. The data is sent back and forth as serialized protobuf objects, but converting back and forth into JSON is relatively easy. Does this work for you?

[code]

[2020-11-13 15:40] AndrewMBurke opened #248 "Address inefficiency and Get resource consumption in GetAccountHierarchy example"
- Replace use of GetCustomer call to reduce impact against Get quota.
- Move Dictionary declaration to apply to all seed customer IDs.

[2020-11-13 16:58] momolasd opened #250 "Not-in filter excludes too many results"
**Which version of the client library are you using?**
6.0.0

**Which version of .NET are you using?**
.Net Standard 2.1

**Which operating system (Linux, Windows, ...) and version?**
Windows

**Actions taken**
string query = $@"SELECT
                                campaign.id,
                                campaign.name,
                                campaign.serving_status,

[2020-11-16 19:43] AnashOommen commented on #250
Hi Moerland,

This seems an issue with the underlying API. Could you please drop an email to googleadsapi-support@google.com with the following details?

1. The customer ID for which you saw the incorrect behaviour.
2. The API call logs. Instructions to turn on logging is here: https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging.
3. Specific campaign IDs / names you were e

[2020-11-16 19:43] #250 closed

[2020-11-16 19:45] AnashOommen commented on #244
Hi @AlesSturala, I'm closing this issue for now, feel free to reopen if you continue to face issues and the suggested workaround doesn't work for you.

[2020-11-16 19:45] #244 closed

[2020-11-16 19:47] #248 closed

[2020-11-16 19:57] AnashOommen commented on #243
Hi @mbinder007, does this issue persist?

[2020-11-16 20:04] #243 closed

[2020-11-16 20:04] AnashOommen commented on #246
Fixed in 6.0.0

[2020-11-16 20:04] #246 closed

[2020-12-03 12:28] almamouz opened #255 "Bidding strategy update does not apply when mutating campaign"
- Client library version 6.0.0

- .NET Core 3.1

- Windows

**Actions taken**
Mutate a campaign assigning it a bidding strategy.

[code]

**Expected result**
Campaign has the newly assigned bidding strategy

**Actual result**
Mutation succeeds but campaign still has the old bidding strategy. No change is logged in change history.

Mutation with bidding strategies that have additional properties wo

[2020-12-10 07:26] wongmalesan opened #258 "Getting missing assembly when DllExport for Delphi"
Hello,

I have try to build class library with newest google ads api .NET library for my delphi project, but i always getting error **Could not load file or assembly 'Google.Apis.Auth, Version=1.46.0.0.**

what i do :
1. I create some procedure which i need in my Delphi app
2. I export my c# dll with ExportDLL nuget
3. I debug test on my dll with My Delphi app as Start External Program
4. Always g

[2020-12-16 14:25] AnashOommen commented on #255
@almamouz This seems more an issue with the API itself rather than the client library, but I'll keep this open for now just to make sure that the server issue isn't masking another client library issue.

[2020-12-28 20:20] AnashOommen commented on #258
Hi,

Google.Ads.GoogleAds doesn't use Google.Apis.Auth directly. There's indirect dependency like:

Google.Ads.GoogleAds 6.1.0 > Google.Api.Gax.Grpc 3.2.0 > Google.Apis.Auth (>= 1.48.0 && < 2.0.0)
Google.Ads.GoogleAds 6.1.0 > Google.Api.Gax.Grpc 3.2.0 > Grpc.Auth 2.34.0 > Google.Apis.Auth (>= 1.46.0)

Adding a direct dependency on Google.Apis.Auth 1.48.0 should solve your issues. I'll ask the team

[2020-12-29 08:21] jskeet commented on #258
I have no experience with Delphi. Is this Delphi *running* on the CLR, or does it have an interop layer somewhere? If it's running on the CLR, does it have NuGet package integration? If it does, I'd expect you to just be able to add a dependency on Google.Ads.GoogleAds 6.1.0 as well as your DLL, and everything should be fine due to the indirect dependencies.

If you could give us more details abou

[2020-12-29 13:48] AnashOommen commented on #258
Does the code in C# procedure work fine if you call it from another C# application?

[2021-01-08 14:55] jtattermusch commented on #258
I worked with Delphi about ~20 years ago in the very beginning of my programming career but frankly I don't see what does it have to do with C#/.NET since AFAIK Delphi uses Pascal programming language - so I suspect using the ads client library from Delphi is not something that's supported.

[2021-01-20 14:46] jtattermusch commented on #23
This likely means that the auth library (whichever you are using) has thrown an exception when trying to generate the secret tokens to attach to the gRPC call.
https://github.com/grpc/grpc/blob/86f93801e5d452cff40d6958d21a8eb211da0654/src/csharp/Grpc.Core/Internal/NativeMetadataCredentialsPlugin.cs#L95

[2021-01-20 15:03] jtattermusch commented on #23
What's puzzling is that the inner exception detail should be included in the error message. This is something we added
more than 2 years ago: https://github.com/grpc/grpc/pull/16543/files#diff-f4b2e97473d81e64e28a360c95c40da1b923d88aa44585809e497430f7d14e24R90
(ok and now I realized that I'm responding to a 2-years old issue).

Ok, so I think the resolution is that gRPC had made a fix to make the

[2021-01-28 06:48] boby-404 opened #260 "Issue in Google ads api"
Hi,
I am working on  google ads API in Dotnet
when fetching results g
![2021-01-28 12_05_48-Window](https://user-images.githubusercontent.com/78135342/106099768-3b53c600-6161-11eb-9f95-bbe3262caebb.png)
getting error like this

**Which version of the client library are you using?**

**Which version of .NET are you using?**

**Which operating system (Linux, Windows, ...) and version?**

**Actions t

[2021-01-28 07:00] boby-404 commented on #23
Grpc Error
![Uploading 2021-01-28 12_05_48-Window.png…]()

[2021-01-28 07:05] boby-404 commented on #260
Google.Ads.GoogleAds 6.1.0 > Google.Api.Gax.Grpc 3.2.0 > Google.Apis.Auth (>= 1.48.0 && < 2.0.0)

[2021-01-28 16:53] ToddEvansHome opened #261 "Google.Ads API Request contains an invalid argument"
I am receiving the following error message during a SearchStream requests
_Status(StatusCode="InvalidArgument", Detail="Request contains an invalid argument.", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1611847453.657000000","description":"Error received from peer ipv6:[2607:f8b0:4009:802::200a]:443","file":"..\..\..\src\core\lib\surface\call.cc","file_line":1063,"gr

[2021-02-04 17:48] AdrianPell opened #262 "How to handle refresh tokens outside GoogleAdsConfig"
**Describe the problem you are trying to solve**

This is a (belated) followup to #118 (@AnashOommen).

I am trying to figure out how to properly handle refreshing access tokens outside the library (we store access and refresh tokens in our own store). We can ensure that we have a refreshed access token before calling methods on a GoogleAdsClient using the overload of CreateCredentials() on Google

[2021-02-11 09:55] FilipFilipov opened #263 "Support all available ChangeEventResourceType values"
It seems not all the [ChangeEventResourceType](https://developers.google.com/google-ads/api/reference/rpc/v6/ChangeEventResourceTypeEnum.ChangeEventResourceType) values available from the API are currently supported by the library

Specifically it is missing:
- FEED
- FEED_ITEM
- CAMPAIGN_FEED
- AD_GROUP_FEED
- AD_GROUP_AD

Adding them to the examples would be helpful as well

[2021-02-11 13:31] AnashOommen commented on #263
That's because the v6_1 API release was yesterday evening -- a couple of hours before you opened the bug. The updated client libraries will be available in all languages by next week, likely earlier.

[2021-02-11 13:55] FilipFilipov commented on #263
Okay, I only started using the API a few days ago, so I didn't realize it was updated. Also the NuGet package was already at 6.1.0, so that's a bit confusing.

[2021-02-11 16:32] AnashOommen commented on #263
The library and API version numbers don't go in sync because we need to sunset old API versions occasionally, and since that's a breaking change, we need a major version bump. In general, you should ignore the client library version. Always look at the API documentation to determine which API version to use.

[2021-02-11 17:20] AnashOommen commented on #261
The service account flow will also work just fine, if you were to use the GoogleAdsConfig approach. For instance,

[code]

The minor caveat is that OAuth2Scope can only take a single string, not an array of strings. I can push a fix for this next week.

The service builder approach doesn't work because Google Ads services require additional wiring which is not supported by the default builder stub

[2021-02-11 19:55] AnashOommen commented on #255
@almamouz Was this issue fixed for you? Did you get a resolution from the forum threads?

[2021-02-12 08:19] almamouz commented on #255
@AnashOommen Not yet. There haven't been any updates in the forum either

[2021-02-12 17:28] ToddEvansHome opened #265 "OIDC in .NET 5"
**Describe the problem you are trying to solve**
We are trying to implement OIDC in .NET 5 Blazor WebAssembly application to using either Google Ads Web Application or Service Account.

**Describe the solution you would like**
We are looking for code example.  The following document https://developers.google.com/identity/protocols/oauth2/openid-connect, gives examples using PHP, Java & Python but

[2021-02-13 21:46] ToddEvansHome commented on #261
I have tried the following and receive the below exception

GoogleAdsConfig config = new GoogleAdsConfig()
            {
                OAuth2ClientId = "######",
                OAuth2SecretsJsonPath = "Keys/adbdff8f747f.json",
                OAuth2Scope = "https://www.googleapis.com/auth/adwords",
                OAuth2Mode = OAuth2Flow.SERVICE_ACCOUNT,
                OAuth2PrnEmail = "xxxxxx

[2021-02-14 18:38] AnashOommen commented on #255
Hi @almamouz

Could you give it another try? I looked up the internal issue, and it seems to be fixed. So something like this would work:

maximize_conversions

[2021-02-15 12:04] almamouz commented on #255
Works fine now, I didn't have to change anything. Thanks!

[2021-02-19 04:03] #265 closed

[2021-02-25 14:08] andreylima opened #267 "appsettings.json OAuth service account example"
I'm trying to run "UploadClickConversionsRequest", but I'm working with .Net Core 3.1 that doesn't use the app.config, but the **appsetting.json instead.** I can't find any documentation about it.

Does someone have an example of authentication in this case using a service account?

When I try to send the conversion I get this error:
RpcException: Status(StatusCode="Unavailable", Detail="Getting m

[2021-02-25 14:46] AnashOommen commented on #267
Hi Andrey,

Take a look at https://developers.google.com/google-ads/api/docs/client-libs/dotnet/configuration, it has some examples.

[2021-02-25 15:12] andreylima commented on #267
Hi Anash, thanks for the link, I realized how can I authenticate from the data in appsettings.json, altough I have to get the refresh token first.

For that, I'm using the Desktop Application Authenticate example, but I'm not sure if it is the right one for Service Account:
https://github.com/googleads/google-ads-dotnet/blob/06c62237162a8e2e16f61e1d8ba03a836728f230/examples/Authentication/Authenti

[2021-02-25 15:26] AnashOommen commented on #267
For service account,

1) Follow this guide to enable domain-wide delegation and impersonation at your GSuite domain. https://developers.google.com/google-ads/api/docs/oauth/service-accounts#setting_up_service_account_access

2) Then set up the configuration parameters in your appsettings.json: https://developers.google.com/google-ads/api/docs/client-libs/dotnet/oauth-service#step_2_-_setting_up_th

[2021-02-25 15:27] AnashOommen commented on #267
Or perhaps, a more correct thing to ask is, "why are you specifically looking for a service account flow"? Understanding your use case would help me guide you better.

[2021-02-25 15:50] andreylima commented on #267
I'm looking for a service account because I want to send a conversion event to my google Ads Account every time an user is registered, and this happens on backend.

Basically, the application stucks at this point, with that refresh token error message:

                UploadClickConversionsResponse response =
                    conversionUploadService.UploadClickConversions(

[2021-02-25 16:20] AnashOommen commented on #267
For that workflow,

1) Create an OAuth client ID of type "desktop app".
2) Run the AuthenticateInDesktopApplication app and generate the credentials using the login for the account to which the conversions have to be imported (or Manager account, if you have more than one account).
3) Then make calls using this credential. Just make sure you set the customerId to the correct account to which the c

[2021-02-25 21:56] andreylima commented on #267
Anash, sorry to bother again.

I've tried these ways:

1 - Create an OAuth client ID of type "desktop app".
Used this function trying to authenticate:
`
            Task<UserCredential> task = GoogleWebAuthorizationBroker.AuthorizeAsync(
                 secrets,
                 new string[] { GOOGLE_ADS_API_SCOPE },
                 String.Empty,
                 CancellationToken.None,

[2021-02-26 20:07] AnashOommen commented on #260
Hi,

If you can share a request ID or redacted call logs, it would be most helpful. Instructions are here: https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging

[2021-02-26 20:08] #255 closed

[2021-02-26 20:19] AnashOommen commented on #267
1) Sounds good.
2) This seems very familiar, there was a recent issue where the library wasn't reading `OAuth2Mode` setting and thus complaining about a missing `refresh_token`. Try updating to the latest version of the library and see if the issue persists.

[2021-02-26 20:22] AnashOommen commented on #261
Hi,

The `OAuth2PrnEmail` field should point to the email account in your GSuite domain you are impersonating. This user should also be a valid user in your Google Ads account.

The way you make the call seems fine to me.

[2021-02-26 20:22] AnashOommen commented on #263
This is fixed in v7.0.0 of the library.

[2021-02-26 20:22] #263 closed

[2021-02-26 20:23] #261 closed

[2021-02-26 20:24] AnashOommen commented on #261
Temporarily closing this issue, feel free to reopen if the issue persists.

[2021-03-03 18:57] aukevin opened #269 "Search Stream Retry Recommendation"
While using `SearchStream`, I have occasionally run into exceptions that lead me to retry such as:
`Grpc.Core.RpcException: Status(StatusCode="Internal", Detail="Internal error encountered." ..)`
`Grpc.Core.RpcException: Status(StatusCode="DeadlineExceeded", Detail="Deadline Exceeded" ..)`
`Grpc.Core.RpcException: Status(StatusCode="Unavailable", Detail="GOAWAY received" ..)`
`Grpc.Core.RpcExcepti

[2021-03-03 19:40] AnashOommen commented on #269
Some of these errors (goaway. stream removed) are actually the underlying connection breaking due to various reasons. So you need to obtain a different serviceclient instance.

Unfortunately grpc (the underlying transport protocol) itself doesn't support for server streaming requests, so there isn't anything we can do with the library's retry mechanism itself. We are aware of this limitation.

I'l

[2021-03-03 20:55] aukevin commented on #269
Thanks for the info! I'll edit the code to regenerate the `ServiceClient` instance and see how it goes.

I'll also look forward to any improvements from this library -
It seems like the kind of thing many people might want to be readily available in order to reduce manual retries.

[2021-03-05 23:13] mahwishs commented on #269
I am having to write my own retry as well. But what am noticing is something odd with the SearchStream method it self.

It just hangs. No errors. Then roughly an hour later responds. Is there a setting to reduce the amount of wait time between no result.

this was one instants of the stream just hanging after RequestID: fTywBYOrcxVko-PJSMO5Lg

 GoogleAds.SummaryRequestLogs Information: 1 : [2021-0

[2021-03-05 23:46] AnashOommen commented on #269
There is a timeout setting in the AppConfig. The default is set to 60
minutes, but you can set it to something smaller that's appropriate for
your API call.

On Fri, Mar 5, 2021, 6:13 PM Mega Bytes <notifications@github.com> wrote:

[2021-03-06 03:37] mahwishs commented on #269
So what you are saying is that I need to resolve the client => new GoogleAdsClient(googleAdsConfig) per request

I am currently reusing the same client for all the requests until I fetched for all the customer Ids.

So my call to the Api looks like this now.
`
                        Action<GoogleAdsServiceClient, string, ConcurrentStack<GoogleCampaignModel>> callGoogleSearchApi = (googleAdsServic

[2021-03-11 16:46] ToddEvansHome commented on #261
We do not have a GSuite domain.  The user we are using for OAuth2PrnEmail  is the owner of the Google Ads account.  We are currently getting the below error.  How may we use Service Account without a GSuite domain.

An error occurred while authorizing the user.: System.AggregateException: One or more errors occurred. (Status(StatusCode="Unavailable", Detail="Getting metadata from plugin failed wit

[2021-03-11 16:54] AnashOommen commented on #261
@ToddEvansHome you cannot use service account setup with Google Ads without GSuite domain. That's a limitation of how Google Ads (the product) works, and not the .NET library per-se.

You need to do the installed application flow with offline access instead (the flow involving refresh tokens).

[2021-03-11 16:54] AnashOommen commented on #267
@andreylima I am closing this issue for now, feel free to reopen if the issue persists.

[2021-03-11 16:54] #267 closed

[2021-03-12 16:49] ToddEvansHome commented on #261
Hi Anash, Thank you for your quick response,

Clarification: We are using Google Workspace(formerly known as G Suite) and
we do have both Google Ads & Google Ads Manager services enabled within the
Google Admin..
The email I am adding to the OAuth2PrnEmail property is within Google
Workspace and that email is "Service Account Token Creator Owner" role for
our service account in Google Ads.

I must

[2021-03-22 15:47] AnashOommen commented on #260
Closing this issue, since the logging instructions should give more hint about the root cause of this error. Please feel free to reopen if the issue persists.

[2021-03-22 15:47] #260 closed

[2021-03-22 15:47] AnashOommen commented on #240
Closing this bug, since this is now part of the release distibution.

[2021-03-22 15:47] #240 closed

[2021-03-23 15:48] ToddEvansHome opened #272 "Service Account: Unauthorized Client"
**Which version of the client library are you using?**

**Which version of .NET are you using?**

**Which operating system (Linux, Windows, ...) and version?**

**Actions taken**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]

GoogleAdsConfig config = new()
            {   OAuth2Clien

[2021-03-23 16:26] AnashOommen commented on #272
Todd, could you check if the Google Cloud console project has enabled Google Ads API? If AdWords API works for you but Google Ads API doesn't, then that's most likely the reason.

[2021-03-24 02:24] ToddEvansHome commented on #272
Yes the Google Ads API is enabled and we are currently using DeskTop Authentication which works fine.  But we want to replace it with a Service Account

Note: We are not using AdWords API.

[2021-03-24 19:13] AnashOommen commented on #272
Could you also check if the steps at https://developers.google.com/google-ads/api/docs/oauth/service-accounts#granting_impersonation_abilities were followed?

[2021-03-26 19:09] AnashOommen commented on #269
There's a simpler way to set the timeout: You can pass a `CallSettings` as one of the arguments to the method call itself. That callsetting override works only for the specific method call. Here's an example (other services are similar).

[code]

[2021-03-26 19:09] #269 closed

[2021-04-01 10:39] ameetroy commented on #261
Could anyone please explain me what's difference between Google Ads Api & Google Adwords Api ?

I think both are same.

[2021-04-12 18:55] AnashOommen opened #277 "LogEntry doesn't Mask MutateFeedsRequest properly..."
Should be `body.Operations`, not `body.Operation`.

https://github.com/googleads/google-ads-dotnet/blob/master/src/Logging/LogEntry.cs#L364

[2021-04-12 20:07] #277 closed

[2021-04-13 20:05] AnashOommen commented on #262
Hi Adrian,

I release v7.1.0 which has a setting named `UseChannelCache` that allows you bypass the channel cache. Set

[code]

when overriding the `CreateCredentials()` method.

Let me know if this addresses your issue.

[2021-04-13 20:05] #262 closed

[2021-04-13 20:08] AnashOommen commented on #96
I added a new code example: https://github.com/googleads/google-ads-dotnet/blob/master/examples/Misc/SetCustomClientTimeouts.cs that shows how to use a custom call-level call setting. Given that this is a reasonably low-friction way of overriding default settings, I don't think there's an additional need to expose this setting on the service level also. Marking as fixed.

[2021-04-13 20:08] #96 closed

[2021-04-13 20:09] AnashOommen commented on #272
@ToddEvansHome is this issue still present for you? Were you able to follow the instructions from my previous post?

[2021-04-14 12:10] AnashOommen commented on #258
I'm closing this bug as not feasible.

[2021-04-14 12:10] #258 closed

[2021-04-14 14:18] ToddEvansHome commented on #272
Actually we came up with a technical question on if using a service account
will resolve our main issue.  We currently have ReadOnly access to our
customers Google Ads MCC using my email address.  We would rather use the
Service Account to have ReadOnly access to that account, but it is unclear
if that Service Account will work in this scenario.

On Tue, Apr 13, 2021 at 3:09 PM Anash P. Oommen ***

[2021-04-14 14:26] AnashOommen commented on #272
The important part to realize here is that service account can only impersonate (and thus have the same permissions as) the user it is impersonating.

Consider the following setup.
- There is an MCC C1,
- User bob@example.com has READONLY access to C1.
- example.com is a GSuite domain.
- SA1 is a service account owned by a Google Cloud project, and authorized by the GSuite Domain Administrator to

[2021-04-23 15:16] AnashOommen commented on #272
I've updated our public documentation with the latest steps on configuring a service account. Please take a look, and if the issue persists, let me know by reopening this bug.

https://developers.google.com/google-ads/api/docs/oauth/service-accounts#setting_up_service_account_access

[2021-04-23 15:16] #272 closed

[2021-05-06 20:11] aukevin opened #283 "Search Stream Logging: Request Id Empty?"
I recently noticed that with my `TraceUtilities` settings, `Search` requests include Request Id information while `SearchStream` requests do not. This behavior feels inconsistent and can pose some friction when providing information to Support.

For example, when I try to get the `Information` level summary logs:

[code]

The Search logs look something like:

[2021-05-04 12:00:40Z] - Request made:

[2021-05-14 03:37] tinmek opened #284 "Can't remove bids"
**Which version of the client library are you using?**
8.0.0

**Which version of .NET are you using?**
.NET 5, .NET Standard 2.1

**Which operating system (Linux, Windows, ...) and version?**
Windows 10

**Actions taken**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]
adGroup.TargetCp

[2021-05-17 11:19] AnashOommen commented on #284
No, the API doesn't work like that, and hence we don't plan to fix this in the client library either. I'll file an issue to get the documentation fixed.

Code like this should clear a bid field.

[code]

[2021-05-17 11:19] #284 closed

[2021-05-17 21:40] aukevin commented on #283
Hi, I'm still having trouble with this. Is there another way to get tracking information on `SearchStream` requests?

[2021-05-17 21:46] aukevin opened #285 "Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1621236204.189000000","description":"Received message larger than max (423184132 vs. 67108864)""
I got an interesting error when making a `SearchStream` request to get some responsive search ads:

[code]

The error message has pasted below:

[code]

It seems like an library-related issue - my understanding was that `SearchStream` handles the message sizes automatically.
Has anyone encountered this issue and/or found a work around?

Thanks,
Kevin

[2021-05-18 04:17] tinmek commented on #284
@AnashOommen The suggested code doesn't work.
When using AdGroupServiceClient it still returns BID_TOO_SMALL as same as setting the field value to 0.
When using BatchJobServiceClient it returns "The required field was not present., mutate_operations[0].ad_group_operation.update.cpc_bid_micros" error instead.

[2021-05-18 20:18] aukevin commented on #283
I'll amend this to say that _sometimes_ I get the RequestId. I can't seem to figure out what triggers it to appear or not.

[2021-05-18 20:24] aukevin commented on #285
Forgot to include this - this issue occurs on the 6.1.0 version of the Nuget package (which I am working on upgrading) and the V6 Client. I do not know if it has since been fixed.

[2021-05-18 21:13] AnashOommen commented on #285
Hi Kevin,

The library limits the maximum response size of a message to 64MB here: https://github.com/googleads/google-ads-dotnet/blob/master/src/Lib/CachedChannelFactory.cs#L42. Your response object is > 400 MB.

I can try to increase this limit, but just wondering, is there a set of fields you can remove from this query to bring down the message size?

[2021-05-18 23:58] aukevin commented on #285
Hi Anash,

Unfortunately, I need all the fields at one point or another to generate the artifact that's being asked of me - it is unlikely that the requirements will be waived.
I can try to split it up, making one set of requests for some fields and other sets of requests for other fields but correlating them costs some overhead (e.g. repeatedly receiving Ad Group Id) that I would like to avoid.

[2021-05-19 15:10] AnashOommen commented on #285
`SearchStream` method uses a fixed 10K `GoogleAdsRow` objects per `SearchGoogleAdsStreamResponse` object, and uses a single stream. The goal is to get the response as fast as possible.

`SearchGoogleAdsRequest` provides you the flexibility to specify the page size, thus controlling the number of `GoogleAdsRow` objects in each `SearchGoogleAdsResponse` object, and each subsequent page is retrieved

[2021-05-19 15:15] AnashOommen commented on #241
Fixed in https://github.com/googleads/google-ads-dotnet/pull/286

[2021-05-19 15:15] #241 closed

[2021-05-19 16:40] #164 closed

[2021-05-19 17:56] aukevin commented on #285
Hi Anash,

It is good to know the `SearchStream` uses a fixed 10K "page_size", but I have some concerns about it as well.

Please take a look at this (originally) 2019 thread that is related:
https://groups.google.com/g/adwords-api/c/WEOx3jFuGlI/m/lZ28DJHfBAAJ
You can see that support recommended the use of `SearchStream` but, evidently, it does not solve the core issue.
The core issue is that if

[2021-05-19 18:45] AnashOommen commented on #285
Hi Kevin,

Let me clarify: Your suggestion is almost how the SearchStream API works today.

1) There's no page size being sent to the server for `SearchGoogleAdsStreamRequest`. See https://github.com/googleapis/googleapis/blob/master/google/ads/googleads/v7/services/google_ads_service.proto#L434

2) For SearchStream API, the server assumes a fixed page size of 10K -- so what you get back is a stre

[2021-05-19 20:02] aukevin commented on #285
Hi Anash,

1. Thanks for the link - I understand.

2. Interesting that you mention the request_id. I actually had a separate thread about getting the request id for `SearchStream` requests: https://github.com/googleads/google-ads-dotnet/issues/283. To reduce the volume of logs we have been getting I have it set to only get Information-level request logs. For reasons I am still not sure of, it is i

[2021-05-26 01:45] SuperHeroX opened #289 "Update Campaign GeoTargetTypeSetting Failure with "field has subfields" in V8.0.0 but succeed in earlier version"
Hi,
I'm upgrading Dotnet library version from v6.1.0 to the latest v8.0.0, previously we are calling updating the campaign with geoTargetTypeSetting (set both positive and negative geotarget type) and it succeeded in Google Ads API v6 via Dotnet library v6.1.0. However, after updated Dotnet library version to v8.0.0, we are seeing the same campaign update call are failing in Google Ads API v6 and

[2021-05-27 17:25] aukevin commented on #285
@AnashOommen Choosing a page size can prove pretty difficult. In addition to the 400MB one from this post, I have recently encountered other sizes (e.g. 160MB). Splitting into pages of 1000 may work well for one instance but be pretty terrible for other instances. Looking forward to any suggestions or improvements to help in these scenarios.

[2021-05-27 18:24] AnashOommen commented on #285
I have a release planned in a couple of weeks and can give you a flag to
change this appropriately. Can this wait till then?

On Thu, May 27, 2021, 1:25 PM aukevin ***@***.***> wrote:

[2021-05-27 21:19] aukevin commented on #285
Thanks for helping to address this issue! I am fine with waiting and glad to have the confidence that improvements are coming.

[2021-06-02 14:39] laurachevalier4 opened #290 "[Automation] 1. Issue Reminders"
Send reminders about internally mirrored client library repo bugs to improve our ability to meet SLAs.

[2021-06-02 14:40] laurachevalier4 opened #291 "[Automation] 2. Auto-assignment, Code Owners, Require Reviews"
Automatically assign team members to Pull Requests and require that at least one code owner approves.

[2021-06-02 14:42] laurachevalier4 opened #292 "[Automation] 3. Delete Merged Branch"
Automatically delete branches after merge to maintain repository cleanliness and avoid branches that were leftover “just in case”.

[2021-06-02 14:43] laurachevalier4 opened #293 "[Automation] 4. Github Issue Templates"
Encourage users to submit all of the information that will be useful for us to scope and fix bugs, or submit feature requests. Also, clarify what the intention of these issues is, and point users in the right direction if their intent is not aligned (e.g. for general API-related issues).

[2021-06-07 22:48] aukevin commented on #283
@AnashOommen This has come up again when talking with support on the Google Ads Forum. There is no request id to provide support with in many of my `SearchStream` calls, especially in failure cases. Help on this would be much appreciated.

[2021-06-08 09:41] STNarek opened #294 "Can't update campaign bid strategy"
Client Version: **6.00**

.NET version: **.NET 3.1**

Platform: **MacOS**

**Actions taken**
I am trying to set campaign bidding strategy to maximize conversion value.
Here's the code:
[code]

**Expected result**
The campaign bidding strategy should be set to maximize conversion value.

**Actual result**
The mutate request silently succeeds but nothing changes on the campaign. The field mask won't

[2021-06-08 14:12] AnashOommen commented on #294
Hi @STNarek, could you try adding the following line as a temporary workaround?

`fieldMasks.Paths.Add("maximize_conversion_value");`

Let me know if that fixes the issue.

[2021-06-08 15:49] STNarek commented on #294
Hi @AnashOommen. Thanks for the suggestion. I just tried it and got the following error:
[code]

[2021-06-08 19:41] #291 closed

[2021-06-10 16:31] ToddEvansHome opened #298 "Correct Version # to correspond with Google Ads API"
**Describe the problem you are trying to solve**
The version # being used to document the nuget changes is out of sync with Google Ads API.
Currently this Nuget package is version 8, but the code is actually referencing Google.Ads.GoogleAds.V7 namespace.

New users will assume the Nuget version(which is currently 8) will work with and have the features of Google Ads API version 8.

**Describe the

[2021-06-10 23:01] aukevin commented on #283
I enabled some more detailed logging and the logs without Request Id look something like this when more verbose logging is enabled:

[2021-06-08 21:28:38Z] -
---------------BEGIN API CALL---------------

Request
-------

Method Name: /google.ads.googleads.v6.services.GoogleAdsService/SearchStream
Host: https://googleads.googleapis.com
Headers: {
  "x-goog-api-client": "gl-dotnet/3.1.0 gapic/6.1.0

[2021-06-15 20:49] AnashOommen commented on #289
I have a fix out in v9.0.0 of the client library. PTAL and let me know if this fixes the regression?

[2021-06-15 20:49] #289 closed

[2021-06-15 20:53] AnashOommen commented on #285
Hi @aukevin,

I released v9.0.0 now, you can specify something like:

`
config.MaxReceiveMessageLengthInBytes = 2^28;
`

or specify this through your App.config / config.json / alternate configuration mechanisms.

Let me know if this addresses the issue. Note that 2^31 is the maximum that grpc protocol itself supports.

[2021-06-15 20:53] #285 closed

[2021-06-16 00:34] AnashOommen commented on #298
@ToddEvansHome it is not feasible to fix this issue right now, since the various versions of the API do not launch and sunset in perfect sync. One way to fix this would be to decouple the stubs and the rest of the code, so that the version of the stubs and the API version can then stay in sync. But this introduces other complications as users upgrade from one version to the next, so this isn't an

[2021-06-16 00:34] #298 closed

[2021-06-16 17:40] AnashOommen commented on #294
@STNarek Try setting the fieldmask as `maximize_conversion_value.target_roas` and do not specify the `target_roas` field, like this:

[code]

[2021-06-18 20:26] AnashOommen commented on #230
For any future reader,

1) You cannot remove a userlist, you can only set its `membership_status` to `CLOSED`. https://developers.google.com/google-ads/api/reference/rpc/v8/UserList#membership_status.

2) There may be some userlist types that don't support closing. Check the `read_only` field first. https://developers.google.com/google-ads/api/reference/rpc/latest/UserList#read_only

[2021-06-18 20:26] #230 closed

[2021-07-20 19:24] aukevin commented on #285
Hi,

Was waiting for some time to make sure the issue didn't occur again.
It looks like adding this feature did the trick!

Thanks,
Kevin

On Tue, Jun 15, 2021 at 1:54 PM Anash P. Oommen ***@***.***>
wrote:

[2021-07-26 10:35] MarcoRoberti1995 opened #302 "Google Ads Client Library V5 suddenly stopped working"
Hi

we have experienced some issues with the Google Ads API and I have outlined it below:

Google Client Library Version:                                                V5
Sunset Date:                                                                               23/06/2021
Stopped Working Date:                                                            20/07/2021
Challenges:

[2021-07-26 20:43] AnashOommen commented on #302
Hi Marco,

There are multiple issues being covered here, so let's cover them one by one.

1) We generally go by the API version number, and the latest version of the client library supports all the API versions that are available at that time. The deprecation schedule of the API itself is available at https://developers.google.com/google-ads/api/docs/sunset-dates.

So you are using `Services.V5.Co

[2021-07-27 12:34] MarcoRoberti1995 commented on #302
Hi Anash,

I have created a repository here (https://github.com/MarcoRoberti1995/GoogleAdsV8Test) where you can find the test project that doesn't work.
Essentially the project builds, but the problem is that it doesn't do it correctly as those libraries are not compatible with each other.

When it builds, the ConfigurationManager.dll is not being loaded correctly, which means that the project thr

[2021-07-27 19:38] AnashOommen commented on #302
I think the relevant bug is https://github.com/Azure/azure-functions-core-tools/issues/2304. It looks like the issue is that

- Azure functions load the runtime assemblies from its own folder. In my case, this is `C:\Users\anash\AppData\Local\AzureFunctionsTools\Releases\3.28.1\cli_x64\`.
- As a result, it doesn't copy over the runtime assemblies to `GoogleAdsV8Test\bin\Debug\netcoreapp3.1\bin`.
-

[2021-07-29 16:20] MarcoRoberti1995 commented on #302
Hi Anash,

we have spent some time trying to use the package you have built for us.

The Google Ads V9 package still depends on version `5.0.0 of Microsoft.Extensions.*` and these packages are not working with functions using .NetCore 3.1.

In our case we are referencing the .Netstandard2.1 libraries that contains the Google Ads Client libraries, which are forcing the package `Microsoft.NET.Sdk.Fu

[2021-07-29 17:01] AnashOommen commented on #302
Hi Marco,

Sorry I missed the part about Durable functions. I've uploaded another snapshot to the PR. Could you give it another try?

Cheers
Anash

[2021-07-29 18:48] MarcoRoberti1995 commented on #302
Hi Anash,

I confirm that with the latest downgrade of the libraries, I can run the project with your build.
Is it something that you can push to production?

Thanks,
Marco.

[2021-07-29 19:46] AnashOommen commented on #302
Hi Marco,

Yes, this is something I can support, I didn't have any other conflicts that I ran into with this downgrade. I am planning the next release for the week of Aug 9th, so is it possible to use this library to proceed with your migration and then upgrade to the latest library version when I push the release in August? You can upgrade to v8 of the API, and your code will continue to work wit

[2021-07-29 19:56] MarcoRoberti1995 commented on #302
Hi Anash,

that will be great and work for us
Thanks a lot!

Marco.

[2021-08-11 14:41] MarcoRoberti1995 commented on #302
Hi Anash,

just checking if you have any updates on this. When the new version of the client library with downgraded dependencies will be deployed?

Thanks,
Marco.

[2021-08-11 19:46] AnashOommen commented on #302
Hi Marco,

If all goes good, I'll release this early next week.

Tx
Anash

[2021-08-17 20:39] AnashOommen commented on #302
I've published v10 of the library with the downgraded dependencies, so feel free to update your nuget dependencies.

[2021-08-17 20:39] #302 closed

[2021-08-18 18:20] aukevin opened #305 "Search Stream: StatusCode="Unknown", Detail="Stream removed""
I'm getting some failed requests with StatusCode="Unknown", Detail="Stream removed" where retries did not help.
You can see in the example below that the RequestIDs still prove elusive (see https://github.com/googleads/google-ads-dotnet/issues/283).

I'm wondering if anyone has a recommendation for how to deal with these errors.
Certainly I could just ignore them and assume there is no data to be

[2021-08-19 07:49] metkor opened #306 ""Failed to deserialize response message" error on report fetch"
I am fetching searchterm_view report for some customer ids. It is working for some customers but for some customer ids. I am getting this error:

Type = Grpc.Core.RpcExceptionMessage = Status(StatusCode="Internal", Detail="Failed to deserialize response message.")
Source = System.Private.CoreLibStatus = Status(StatusCode="Internal", Detail="Failed to deserialize response message.")StatusCode = Int

[2021-09-01 20:29] AnashOommen commented on #306
That's strange... I have quite a bit of followup questions...

1) if you enable logging as per https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging, does it give anything in the detailed logs?
2) Any chance you can capture a request ID for a failed request?
3) Does the problem go away if you pick the latest client library?
4) Is this replicable?

I suspect something is comi

[2021-09-02 09:21] metkor commented on #306
Hello @AnashOommen ,

I realized that this occurs when I used SearchStream with big accounts. On small accounts it is working. If I use Search with paging on big accounts it is working. So I go with search and paging.

1) I will check again.
2) I had request id, I will try to get it again and I will share it.
3) It is not related with version.
4) Yes, please call searchstream on big accounts.

Tha

[2021-09-02 19:10] AnashOommen commented on #306
Hi Mehmet,

Choosing Search instead of Searchstream for large accounts has performance
implications due to multiple server round-trips.

Can you find me an example log / request ID to replicate this error?

Tx
Anash

On Thu, Sep 2, 2021, 5:21 AM Mehmet ***@***.***> wrote:

[2021-09-05 18:28] metkor commented on #306
Hello again,

I am getting same error for both search and searchstream now.

I have this request id in error message.

[Entry: key=request-id, value=HhcI24vseuHmzCWwwlJ15A]

Thanks

[2021-09-08 14:03] akrock opened #308 "Dependency Package CommandLineParser"
**Which version of the client library are you using?** V 9.00 / 10.00

**Which version of .NET are you using?** .NET 5

**Which operating system (Linux, Windows, ...) and version?** Linux

**Expected result**
An API runtime package does not contain a package that is unused at runtime.

**Actual result**
The API runtime package contains the CommandLineParser.

**Anything else we should know about y

[2021-09-08 14:05] akrock commented on #308
@AnashOommen Changes that caused the issue were introduced with #286.

[2021-09-15 14:17] AnashOommen commented on #23
@jtattermusch this is not fixed as of GRPC 2.34. Note that an `RpcException` is thrown, but the inner exception is not populated for me to capture this and rethrow.

The inner exception should be set to `Google.Apis.Auth.OAuth2.Responses.TokenResponseException` in this case, after ignoring the intermediate `Grpc.Core.Internal.CoreErrorDetailException` for this exception to be consumed effectively.

[2021-09-27 18:57] AnashOommen opened #312 "Default branch is now main"
As part of Google’s ongoing efforts to foster inclusive language, we’ve changed the default branch of this project to `main`. We encourage contributors to do the same for their forks and local development environments in order to minimize issues when creating pull requests.

[2021-10-11 16:18] EfimenkoAndrew opened #318 "SERVICE_ACCOUNT set up in C#"
**What is your question?**

Hello, I am trying to setup SERVICE_ACCOUNT authorisation and I faced this issue

{
  "StatusCode": 16,
  "Details": "Request is missing required authentication credential. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
  "RequestId": "<REPLASED WITH THIS

[2021-10-11 20:17] AnashOommen commented on #318
Google Ads API requires service account impersonation. The error is basically saying that the service account is not impersonating a user who is a valid user in the Google Ads account to which you are trying to make an API call.

See https://developers.google.com/google-ads/api/docs/oauth/service-accounts for details on how to use service accounts in Google Ads. Also, is there a reason why the ref

[2021-10-11 20:29] AnashOommen commented on #305
"Stream removed" means the connection broke between the server and the client. Retrying the call after a few seconds might succeed. Usually this is a symptom of a connectivity issue between your client machine and the server, and could be anywhere in the chain of servers.  Trying out a different internet provider is a good way to troubleshoot and confirm if this is a network issue.

[2021-10-11 20:29] #305 closed

[2021-10-20 07:39] lileixer opened #320 "Proxy cannot be used when deployed to the Linux"
Hi
   I configured the proxy and it was available locally, but when deployed on a Linux server the program threw an exception
   The error message is：(StatusCode="Unavailable", Detail="failed to connect to all addresses", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1634714686.033195058","description":"Failed to pick subchannel","file":"/var/local/git/grpc/src/core/ext

[2021-10-21 11:10] Kwame10 opened #321 "string date time's format"
**What is your question?**
I am facing time range error for my data time format. With Adwords, it was "yyyyMMdd HHmmss zzz" but migrating it to Ads there is a new date time format "yyyy-mm-dd hh:mm:ss+|-hh:mm"

I am using the .NET library and the error am receiving is

"message": "The string date time's format should be yyyy-mm-dd hh:mm:ss+|-hh:m., at conversions[0].conversion_date_time", "details

[2021-10-25 16:07] AamirNakhwa opened #322 "StatusCode="Unauthenticated""
I am using [this nuget](https://www.nuget.org/packages/Google.Ads.GoogleAds/) to upload offline conversion but receiving this error on submission

![image](https://user-images.githubusercontent.com/35491151/138730343-e2d2b450-02c4-4b14-8ff1-c2d6d8daf9ad.png)

Below is some more detail of the exception

![image](https://user-images.githubusercontent.com/35491151/138730565-99b0c90d-cb04-4acf-90c1-19

[2021-10-25 17:19] #322 closed, assigned to AnashOommen

[2021-10-26 07:07] ysunil702 opened #323 "By using search stream I am getting the data of cost_per_conversion but can you tell in which format it is? In the same way, average_cpc are also available but I do not know its format. And what metrics do I need in campaign for cost and conversion rate ? I have attached screenshot"
By using search stream I am getting the data of cost_per_conversion but can you tell in which format it is?

In the same way, average_cpc are also available but I do not know its format.
I want data in rupees format.
I have attached screenshot.

And what metrics do I need in campaign for cost and conversion rate ?

Thank you

![image](https://user-images.githubusercontent.com/49015306/138825865-57

[2021-10-27 22:07] aukevin opened #325 "Separate Summary and Detailed Log Message Generation"
Hi,

I noticed that a lot of resources were being used to compute long strings that were ultimately being discarded.
The culprit appears to be the `TraceUtilities.ShouldGenerateRequestLogs` method that checks whether either Summary or Detailed logs are required.
If either are required, both log message strings are computed, regardless of whether both are needed.

I thought it would be fun to fork

[2021-10-28 04:10] vanijyabiz opened #326 "Error in using Google Ads API i am getting error in .net library although I have updated all"
" Error loading native library. Not found in any of the possible locations: D:\Shikhar\VanijyaV2\bin\grpc_csharp_ext.x86.dll,D:\Shikhar\VanijyaV2\bin\runtimes/win-x86/native\grpc_csharp_ext.x86.dll,D:\Shikhar\VanijyaV2\bin\../..\runtimes/win-x86/native\grpc_csharp_ext.x86.dll
  Source=Grpc.Core"

detailed error with stacktrace attached as a text file .. ( code screenshot also attached )

I have re

[2021-11-02 04:47] vanijyabiz commented on #326
Hi ,

I am waiting for response to my query

[2021-11-02 21:34] #312 closed

[2021-11-05 16:10] AnashOommen commented on #325
Thanks Kevin for your contribution! I've accepted and merged the PR. Looking forward to more contributions!

[2021-11-05 16:10] #325 closed

[2021-11-05 16:18] AnashOommen commented on #323
@ysunil702 Apologies for the delay. Money fields are generally retuned in micros, which is calculated as 1000000 micros = 1 currency unit of the account. So if this were INR, then 1 INR = 1M micros.

https://developers.google.com/adwords/api/docs/guides/reporting

https://developers.google.com/google-ads/api/fields/v9/overview_query_builder is a good place to construct your queries. For your speci

[2021-11-05 16:18] #323 closed

[2021-11-05 16:22] AnashOommen commented on #326
@vanijyabiz could you try adding a dependency to Grpc.Core directly in your project? That should temporarily address this issue.

It would also be helpful to get a project example that can replicate the issue, plus the environment in which you are testing it. I'm familiar with the issue, but this is related to how Grpc works, and they would be the best team to investigate this issue further. I can

[2021-11-05 16:23] #318 closed

[2021-11-05 16:23] #306 closed

[2021-11-05 16:41] AnashOommen commented on #290
Fixed.

[2021-11-05 16:41] #290 closed

[2021-11-05 16:41] vanijyabiz commented on #326
Sure I will try and get back if not resolved
Thanks

[2021-11-08 06:17] BrianM3 opened #327 "AddCustomerMatchUserList"
**Describe the bug:**

The class keeps timing out before the customer match list is created. Even if I change the following settings, it still never creates the list:
        private const int POLL_FREQUENCY_SECONDS = 30;
        private const int MAX_TOTAL_POLL_INTERVAL_SECONDS = 1600;

This is when running V8/AddCustomerMatchList.cs

**Steps to Reproduce:**
I have changed the following settings

[2021-11-08 21:36] #326 closed

[2021-11-18 15:34] AnashOommen commented on #294
Pls reopen if the issue persists.

[2021-11-18 15:34] #294 closed

[2021-11-29 16:26] jsivelopment opened #331 "Refresh Token is always NULL"
I have downloaded the code examples and I am running the "AuthenticateInAspNetWebApplication". It is not working.
I debugged the code and the TokenResponse is always getting a RefreshToken = null.
So the page_load: client.Config.OAuth2RefreshToken = loginHelper.Credentials.Token.RefreshToken;
this loginHelper.Credentials.Token.RefreshToken is always NULL.
Instead of this every time the ExchangeCod

[2021-12-02 17:40] johnpisg commented on #331
This is not a bug from the Library. In effect we have to set the Prompt property value to "consent", so Google Server will display the Consent Page and you will get a new Refresh Token.
However you are correct this happens in the Example application, probably the example should come with this property set.
See Screenshot:
![Screen Shot 2021-12-02 at 11 38 36](https://user-images.githubusercontent.

[2021-12-02 18:06] AnashOommen commented on #331
Could you kindly send a PR for fixing the code example?

On Thu, Dec 2, 2021, 12:40 PM johnpisg ***@***.***> wrote:

[2021-12-02 21:20] johnpisg commented on #331
Yes:
https://github.com/googleads/google-ads-dotnet/pull/332

[2021-12-02 22:32] smaralbashi commented on #294
@AnashOommen We have the same issue while setting MaximizeConversions or MaximizeConversionsValue on the campaigns using Google.Ads.GoogleAds version 10.2.0 and V9 of client library.

We are using this code :
 var additionalPaths = new List<string>();
                switch (cs.BiddingStrategyTypeToEnforce)
                {
                    case BiddingStrategyToEnforce.MaximizeConversions:

[2021-12-02 23:33] AnashOommen commented on #331
You also need to accept the CLA, so I can review and merge the PR.

[2021-12-02 23:45] johnpisg commented on #331
I did that.

[2021-12-03 12:08] LindaLawton opened #333 "Verification library working with .net 4.7 or Asp .net 4.7"
I have spent all day trying to get this library working with .Net 4.7.

The first thing I did was take your webs sample and try convert it to Asp .Net 4.7 and it will not build, at all!  I can verify that it works  with ,net 5.

So I thought I would take a step back and try with just a console application, seeing as it has been a while since I have worked with Asp .Net 4.7 maybe I was doing someth

[2021-12-03 14:40] AnashOommen commented on #333
Hi,

The library requires .NET 4.7.2 or higher. I'll try to replicate this issue
locally; if it broke, it might be very recent.

On Fri, Dec 3, 2021, 7:08 AM Linda Lawton ***@***.***> wrote:

[2021-12-06 14:07] smaralbashi opened #334 "Can't set MaximizeConversions/MaximizeConversionsValue"
Client Version: 9.00

.NET version: .NET 5.0

Platform: Windows

Actions taken
We are trying to set campaign bidding strategy to maximize conversions / MaximizeConversionsValue.
Here's part of the code:

 var additionalPaths = new List();
switch (cs.BiddingStrategyTypeToEnforce)
{
case BiddingStrategyToEnforce.MaximizeConversions:
campaignEntity.MaximizeConversions = new MaximizeConversions();
add

[2021-12-06 14:10] CoryLiseno opened #335 "Google Ads (AdWords) API Annual Developer Survey 2021"
The [Annual Google Ads (AdWords) API Developer Survey for 2021](https://google.qualtrics.com/jfe/form/SV_eQbOpf4VxRyyqqO) is closing on December 31st.  Please take 10-15 minutes to share your feedback with us before the end of the month.

Here is our [original blog post](https://ads-developers.googleblog.com/2021/11/google-ads-adwords-api-annual-developer.html) for reference.

[2021-12-08 15:52] smaralbashi commented on #334
For any one having the same issue, I got a workaround for this issue from a Google Ads API developer.

You will need to declare a new update mask and include only specific fields. The example below is how to set MaximizeConversionsValue bidding strategy type.

FieldMask fieldMask = new FieldMask();
fieldMask.Paths.AddRange(new string[] {"maximize_conversion_value.target_roas"});
// Create the oper

[2021-12-08 15:53] #334 closed

[2021-12-10 22:10] robonator7412 commented on #327
from your log: Error:"invalid_request", Description:"Missing required parameter: refresh_token"
Seems like you didn't enter a refresh token in your client. Did you set your OAuth2RefreshToken in the GoogleAdsClient object?

[2021-12-20 15:43] logi-ppc opened #336 "Error While Uploading Offline Conversion"
Hello,

I am trying to upload offline conversion to google ads using c#.net and [this nuget](https://www.nuget.org/packages/Google.Ads.GoogleAds/) and getting the below error. Can you please help me out to fix this issue?

![image](https://user-images.githubusercontent.com/96433930/146793836-60b17c6b-f107-4e27-8002-bdee9111d6a6.png)

As the error is saying Request is missing required authenticatio

[2021-12-21 21:31] ullfindsmit opened #337 "[Urgent] FinalUrls is READONLY"
**Describe the bug:**
FinalURLs is now readonly so I removed the line and now I get an error when trying to create a new Ad.

In the latest library the FinalUrls property is READONLY
Assembly Google.Ads.GoogleAds, Version=10.2.0.0, Culture=neutral, PublicKeyToken=52807268f2b614dc

However, in the earlier version it was NOT readonly.
Assembly Google.Ads.GoogleAds, Version=10.1.0.0, Culture=neutral,

[2021-12-21 21:49] jradcliff commented on #337
Hi,

Thanks for opening the issue here. The error you received looks to be due to there being _zero_ final URLs on the ad sent in the request. Does the ad you're copying from (`oAdGroupAd`) have a non-empty `FinalUrls` collection?

Thanks

[2021-12-22 03:17] ullfindsmit commented on #337
Yes, the property FinalUrls collection is blank.
The reason it is blank is because the property FinalURLs used to be read/write in 10.1 and is readonly in 10.2
There is no documentation as to HOW to set the value in 10.2.

[2021-12-22 19:05] rivdiv commented on #337
I am hitting this issue as well with setting the FinalURls property on the AdGroupCriterion object. It is read only in both versions 9 and 10.2 which I just upgraded to.
https://groups.google.com/g/adwords-api/c/gPS2ibFplVY

[2021-12-23 05:26] vipulpatel007 commented on #337
ullfindsmit is right.
In Version 10.1 its allow to set value of final URL Plz check this
![Ad Expandend TextAPI](https://user-images.githubusercontent.com/92007939/147192351-cf0a4d0c-d696-4864-b9bc-a396d346673b.png)

[2022-01-11 04:53] ullfindsmit commented on #337
@AnashOommen thank you for staying on this issue.
The issue is that the FinalURLs property is ReadOnly in 10.2.0.0 and I am
not able to set its value as you suggested

FinalUrls = { oAdGroupAd.FinalUrls }

[2022-01-11 04:59] ullfindsmit commented on #337
[image: image.png]

[2022-01-11 14:02] #335 closed

[2022-01-11 20:51] AnashOommen commented on #337
@ullfindsmit can you please attach a minimal project that illustrates the issue? Or otherwise, confirm if you can compile the attached Compilation Issues.zip?

[2022-01-11 21:04] ullfindsmit commented on #337
I was finally able to get it to work.
The solution was to not use the inline declaration but instead to create a
new Ad object
Then instead of assigning the final urls, simply using
oAd.FinalURLs.Add("string")

[2022-01-11 21:05] Nemisys opened #339 "V9 - Call View - Phone Number"
I'm trying to retrieve all call records.  I've been able to pull all other call details from "call_view", but I do not see the actual phone number in the response. (nor accounted for in this library)

I'm able to pull this data via the reporting dashboard on the website via "Call Details", but i can't find this data anywhere in the API.  I've been on a hunt for this for a couple weeks now and figu

[2022-01-18 10:46] jtattermusch commented on #23
Sadly, setting the InnerException to `Google.Apis.Auth.OAuth2.Responses.TokenResponseException` is not possible, due to the way the credentials are implemented.
Basically, the credentials in Grpc.Core are a native object (implemented in C-core) that can call back into the managed code when the auth token (= RPC metadata) need to be added to an RPC.
If there is an error invoking the managed auth pl

[2022-01-18 21:55] ritesh-pangea opened #340 "Does this library support .net core 5.0"
Hi I wanted to ask if this library supports .net 5.0. Based on this [documentation](https://github.com/googleads/google-ads-dotnet#supported-frameworks) I see it only supports .net core 3.0

However when I go to Google.Ads.GoogleAds in Nuget package Manager, I see .net5.0. Attached is the screenshot.
![Screenshot Google Ads_Nuget_Package_Manager](https://user-images.githubusercontent.com/68885694/

[2022-01-19 15:02] ritesh-pangea commented on #340
@AnashOommen

[2022-01-21 19:12] AnashOommen commented on #340
I'll update the README.md, .net core 5.0 is fully supported.

[2022-01-21 19:13] AnashOommen commented on #331
Marking as fixed since PR is merged.

[2022-01-21 19:13] #331 closed

[2022-01-21 19:29] ritesh-pangea commented on #340
Thanks @AnashOommen

[2022-01-26 17:27] FrankBoateng opened #341 "GRPC Exception"

[2022-01-27 15:14] bdetry opened #342 "Search Stream request filters don't throw error if more than 20 000 items in IN clause."
Google Ads API documentation says that the limit for filtering using GAQL query system it's 20 000 items in the _IN_ clause and should return error _FILTER_HAS_TOO_MANY_VALUES_ if the limit is exceeded. As you can see [here](https://developers.google.com/google-ads/api/docs/best-practices/quotas#other_types_of_limits).

In my case, I'm using a _NOT_IN_ clause with **more than 20 000 items in filte

[2022-01-27 15:33] #342 closed

[2022-01-28 07:18] #341 closed

[2022-01-28 07:18] FrankBoateng commented on #341
Resolved

[2022-02-01 19:39] Nilesailor opened #343 "I'm stuck... CERTIFICATE_VERIFY_FAILED"
Pulled the .NET client library into my VS2019 project via nuget.  Got all of my Oauth configured, but when I attempt to make any calls, I'm hitting some sort of SSL error.  Been fighting with this for a couple days and cannot find a solution.  Any help getting past this would be appreciated.

E0131 14:46:22.489678 0 ..\..\..\src\core\tsi\ssl_transport_security.cc:1506: Handshake failed with fatal

[2022-02-01 19:44] AnashOommen commented on #343
I'm fairly sure that's grpc stack complaining about some invalid certificate. I'll loop in someone from that project.

[2022-02-02 20:59] #337 closed

[2022-02-03 10:25] anjanasagathiya opened #344 "Question- Google Ads Client Library is supported .NET core 6.0 or not?"
Can you tell that Google Ads Client Library is supported .NET core 6.0 or not? If it is not supported then suggest me another third party library or another way in which I can use .Net core 6.0 app.

[2022-02-03 14:07] momolasd opened #345 "TotalResultCount equals 0 when SummaryRowSetting =SummaryRowOnly"
**Describe the bug:**

Hello, when i'm requesting only summary row, total result count is always set to 0

**Steps to Reproduce:**

![image](https://user-images.githubusercontent.com/11518432/152358250-cfcff512-617c-41d2-a2f8-dd6284b105a3.png)

**Expected behavior:**

I expect to get total rows count instead 0

**Client library version and API version:**
Client library version: 10.2.0
Google Ads A

[2022-02-03 19:22] Nilesailor commented on #343
Thanks Anash.  Looking forward to any suggestions.  I've tried this on multiple machines and all generate the same error.  Agree that something in the certificate handling within the client library is failing.

[2022-02-07 08:28] anjanasagathiya commented on #344
@AnashOommen Can you please reply of this question?

[2022-02-07 15:00] powell-graphika opened #346 "MutateLabelsRequest.Operations cannot be assigned to -- It is read-only"
**Describe the bug:**
MutateLabelsRequest.Operations is currently set to "read-only". Users should be able to create new label with this function.

labelService: https://developers.google.com/google-ads/api/reference/rpc/v9/LabelService?hl=en
MutateLabelsRequest: https://developers.google.com/google-ads/api/reference/rpc/v9/MutateLabelsRequest

**Steps to Reproduce:**

            //1. Create labe

[2022-02-08 06:42] anjanasagathiya commented on #340
@AnashOommen Can you tell me What is Conversion Action Id in Conversion Action Because I couldn't find any ConversionActionId in Conversiondetail from Google Ads Manager Account there is shows only Conversion Name in Google Ads Manager Account. Please help me in it.

[2022-02-08 11:15] jskeet commented on #343
Can I just check whether all the multiple machines have been deployed in the same way, for example are all in the same enterprise? If so, I wonder whether it's an issue with some centrally-controlled certificates. If you're able to try on a machine which would have been entirely differently configured (e.g. a personal machine) and ideally on a different network, that would rule some things out. (T

[2022-02-08 23:52] Nilesailor commented on #343
Finally figured this out... phew! The corporate firewall was not playing nice with gRPC.  Once I isolated this, I was able to work with our security folks to address the issue.

[2022-02-08 23:52] #343 closed

[2022-02-09 22:44] AnashOommen opened #347 "MutateAdsResponse doesn't expose PartialFailure field"
MutateAdsResponse doesn't expose PartialFailure field in a user-friendly way. We need to generate MutateAdsResponsePartialFailureSupport.cs to fix this.

[2022-02-10 19:30] rhw2012 opened #348 "Visual Studio setup project dependencies error"
I’m using Visual Studio 2019 (C# language, .NET Framework 4.8).  To try to troubleshoot this issue, I created a new solution and added a class library project and added a reference to Google.Ads.GoogleAds version 10.2.0.0 using Nuget.  It installed all the necessary dependencies (or so I thought).  I created a setup project and added the primary output from the class library project.  Cleaned and

[2022-02-15 18:29] AnashOommen commented on #346
You can use one of the following approaches. (I am using `MutateCampaignsRequest`, others are similar).

[code]

[2022-02-15 18:29] #346 closed

[2022-02-15 19:52] AnashOommen commented on #348
Perhaps try doing a .NET restore once more and do a rebuild? I tried with Visual Studio 2022 and .NET Framework 4.8, and it works fine. I've attached a project. Could you compare with Visual Studio 2019 to see if there's a difference? There shouldn't be any, except for the tool version number that Visual Studio adds.
[ConsoleApp1.zip](https://github.com/googleads/google-ads-dotnet/files/8074179/Co

[2022-02-15 21:51] rhw2012 commented on #348
Added nuget reference to Google.Ads.GoogleAds version 10.2.0 using the default install options (dependency lowest).

If you try to debug the test demo (no setup project used), then the code crashes on line 26 of Class1.cs.  The error is in the comments directly below that line.

Using the setup project and installing to an IIS server into a .net 4 integrated application pool,

Trying the setup pro

[2022-02-17 08:28] powell-graphika commented on #346
@AnashOommen I tried the method you provided, specifically:
- adding the brackets to the input to Operations to bypass the error I previously encountered

I got the following error:

'''
Failure:
Message: Status(StatusCode="InvalidArgument", Detail="Request contains an invalid argument.", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1645086228.165000000","description":

[2022-02-17 20:00] AnashOommen commented on #348
HI,

The attachment is missing... Could you upload again?

[2022-02-17 20:51] rhw2012 commented on #348
I did add it.  Did your email system strip it out?

I just uploaded it to GitHub.

From: Anash P. Oommen ***@***.***>
Sent: Thursday, February 17, 2022 2:00 PM
To: googleads/google-ads-dotnet ***@***.***>
Cc: Bobby Hwang ***@***.***>; Author ***@***.***>
Subject: Re: [googleads/google-ads-dotnet] Visual Studio setup project dependencies error (Issue #348)

HI,

The attachment is missing... Could y

[2022-02-17 21:05] JonathanStack opened #349 "ETA on V10 Support?"
Hello,

Just wondering if you have an estimated release date for API V10 support? Looks like the other libraries already have it as of a few days ago.

Thanks!

[2022-02-17 21:22] AnashOommen commented on #348
Downloaded it from GitHub. Checking...

[2022-02-17 21:23] AnashOommen commented on #349
HI @JonathanStack I plan to release it by end of this week. Investigating a minor performance regression...

[2022-02-17 22:09] AnashOommen commented on #348
I think the problem is that when you create an ASP.NET (.NET Framework) project that depends on a class library that depends on Google.Ads.GoogleAds, then Visual Studio doesn't add the necessary binding redirects in the ASP.NET project's Web.config. The Google libraries are all compiled at different points in time, so sometimes they cause dependency conflicts.

Try adding the following node to you

[2022-02-17 22:12] AnashOommen commented on #333
@LindaLawton I suspect the issue you see is the same as https://github.com/googleads/google-ads-dotnet/issues/348. Could you try adding the bindingredirects in the `app.config` and see if that fixes the issue?

[2022-02-18 09:05] KLuuKer opened #350 "directly set OAuth2PrivateKey"
I would like to directly set the `OAuth2PrivateKey` instead of loading it through `OAuth2SecretsJsonPath`

We store all (api\crypto) keys in a secure storage solution (for example Azure Key Vault) and transport them encrypted to the machine where its being used.
We have a large multitenant solution and don't wish to leave\copy around a bunch of files on disk

Please provide a option to directly se

[2022-02-18 16:29] Nilesailor opened #351 "Cannot assign to the Operations field of a Mutate request"
I can successfully execute Mutate requests if I simply add the customerID and the Operations array as follows:

MutateAdGroupAdsResponse adsResponse = adsService.MutateAdGroupAds(account.AccountID, statusOperations);

However, I need to set the ResponseContentType to return the MutableResource.  To do that, I set up a request, but doing this will not allow assignment of the operations to the Opera

[2022-02-18 20:55] rhw2012 commented on #348
I think I finally got past the error by installing GoogleAds into my ASP.NET project; however, I’m still getting a lot of lines starting with WARNING: “Unable to find dependency …”.

Now I’m getting the following authentication error when using your sample query:

{"Status(StatusCode=\"PermissionDenied\", Detail=\"The caller does not have permission\", DebugException=\"Grpc.Core.Internal.CoreError

[2022-02-18 23:04] AnashOommen commented on #350
Hi @KLuuKer the easiest way is to extent GoogleAdsConfig class and override CreateCredentials method to write your own implementation. Then pass an instance of that class everywhere as applicable.

https://github.com/googleads/google-ads-dotnet/blob/main/src/Config/GoogleAdsConfig.cs#L691

[2022-02-18 23:08] AnashOommen commented on #348
Hi,

Could you turn on logging by using the instructions at https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging and post a request ID? I suspect that this is due to a wrong `login-customer-id` being used, but the easiest way to verify that is by looking at the logs.

[2022-02-18 23:09] AnashOommen commented on #345
Hi,

Could you pls turn on logging as per the instructions at https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging and share a request ID? I don't think this is a client library issue, but rather an API issue. I can investigate it though.

[2022-02-18 23:10] AnashOommen commented on #339
Hi,

Since this an API FR, could you kindly repost on https://groups.google.com/g/adwords-api?pli=1?

[2022-02-18 23:10] #339 closed

[2022-02-18 23:12] AnashOommen commented on #340
@anjanasagathiya https://developers.google.com/google-ads/api/docs/conversions/overview is a good starting point on this topic. Feel free to ask API-specific questions on https://groups.google.com/g/adwords-api?pli=1 or direct email to googleadsapi-support@google.com and you will get a faster response.

[2022-02-18 23:14] AnashOommen commented on #336
Hi,

Do you still face this issue? If yes, pls reopen and attach a request ID. Logging instructions are at https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging

[2022-02-18 23:14] #336 closed

[2022-02-18 23:15] AnashOommen commented on #327
Hi,

Is this issue still present? if yes, could you reopen with a request ID attached? Logging instructions are available at https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging.

[2022-02-18 23:15] #327 closed

[2022-02-18 23:16] AnashOommen commented on #344
@anjanasagathiya I responded on #340, but copying the response here as well.

The library works fine with .net6 apps because it supports netstandard 2.0. The library hasn't been explicitly built for .net6 target though, I hope to add support for the next release.

[2022-02-18 23:16] #344 closed

[2022-02-18 23:17] #350 closed

[2022-02-18 23:17] AnashOommen commented on #333
@LindaLawton please feel free to reopen if you continue to face issues.

[2022-02-18 23:17] #333 closed

[2022-02-21 11:24] momolasd commented on #345
Hello,

Here is the request id : 90GFittw6BKOTonM4hLFng

Thank you @AnashOommen

[2022-02-22 20:02] AnashOommen commented on #349
Library v11.0 has added support for API version v10.0.0.

[2022-02-22 20:02] #349 closed

[2022-02-22 20:03] AnashOommen commented on #347
This issue is fixed in API version v11.0.0.

[2022-02-22 20:03] #347 closed

[2022-02-22 20:03] AnashOommen commented on #340
I've fixed the README.md with details about support for .NET 5.0 and .NET 6.0.

[2022-02-22 20:03] #340 closed

[2022-02-22 20:06] AnashOommen commented on #283
This issue is fixed in v11.0.0.

[2022-02-22 20:06] #283 closed

[2022-02-23 07:25] mayerwin opened #353 "Make all classes serializable and deserializable with System.Text.Json"
**Describe the problem you are trying to solve**
I am trying to serialize API responses (e.g. GoogleAdsRow) for caching purposes using System.Text.Json (.NET 6). Unfortunately, it is impossible to deserialize correctly as a lot of fields are missing public writers, or some public writers all write to the same underlying private field (of `object` type), causing data to be erased when another publi

[2022-02-23 15:40] AnashOommen commented on #353
Hi @mayerwin,

The serialization / deserialization for protobuf objects work a bit differently. Here's an example.

[code]

I'll improve the client library documentation.

[2022-02-23 15:40] #353 closed

[2022-02-23 18:03] AnashOommen commented on #348
@rhw2012 what email address did you use to generate the OAuth2 access token? Can you mail me directly at anash@google.com? The request itself seems fine, but the error suggests you are using the wrong email address.

[2022-02-24 07:01] mayerwin commented on #353
Fantastic, thanks!

[2022-02-24 07:11] mayerwin commented on #353
Fantastics, thanks! How would you best serialize a `List<GoogleAdsRow>`?

[2022-02-25 14:56] sommmen opened #354 "Timezone for segments.date"
**What is your question?**

Hello, I'm running some reports using `Services.V10.GoogleAdsService`:

[code]

I'm segmenting via `segments.date` to get daily reports - i need these daily reports to be segmented by Amsterdam time or W. Europe Standard Time - i cant really find a timezone option anywhere ind the docs or in the code.

I'm looking for something akin to https://docs.microsoft.com/en-us/a

[2022-02-27 13:04] AnashOommen commented on #345
@momolasd This behaviour is working as intended, since the server retrieves only aggregation of rows instead of the whole set of rows when you request [SummaryRowSetting =SummaryRowOnly.

[2022-02-27 13:04] #345 closed

[2022-02-27 13:11] AnashOommen commented on #354
Google Ads API assumes the timezone of the account, and there isn't currently a way to override this behaviour. This is a limitation of how Google Ads itself, and not to do with the client library.

[2022-02-27 13:11] #354 closed

[2022-02-28 15:40] cbeauchemin opened #355 "Memory Leak in the services (GoogleAdsServiceClientBase)"
**Describe the bug:**

We are actually using the Google Ads library for a great number of client. Each of those clients have their own set of credentials to use. Our app is not responsible of refreshing those token (it can but its not what we usually do). Another application is responsible for creating the initial refresh token and can refresh the access token when asked to. Basically, when our ap

[2022-02-28 15:41] cbeauchemin commented on #355
![leak](https://user-images.githubusercontent.com/11855471/156012320-70ae1292-1463-4fa4-98f5-4bcc452f80cd.PNG)

[2022-03-01 17:10] AnashOommen commented on #355
@cbeauchemin I'll investigate this further, but my understanding is that Channels are expensive to create, so it is recommended that we leave them alone and do not shut them down when a service goes out of scope. @jskeet @jtattermusch can you please confirm?

[2022-03-01 17:29] jskeet commented on #355
Assuming this is Grpc.Core, my understanding is that unless there are unique channel options coming into play (which may be part of the additional code in the Ads client), new .NET `Channel` objects end up piggy-backing onto the same underlying network connection, which makes them *somewhat* less expensive than they would otherwise be.

But even so, in general I would recommend keeping a Channel a

[2022-03-01 17:55] cbeauchemin commented on #355
Ok thanks for answering quickly. As explained in the first description, i create a GoogleAdsClient and GoogleAdsConfig each time i process something for a client. For that client, i use 2 or 3 services. Those services asks the GoogleAdsConfig to Create them a credential object. Credential objects are never left alone and never garbage collected. The solution to close the Channel was the only solut

[2022-03-07 09:49] Zweitze opened #359 "No Exception thrown, and no logging on AWQL query with Error on v10"
When firing an (apparently) broken GoogleAdsServiceClient.SearchStream, some AWQL queries call the delegate with an empty result, and an RequestId. The request itself, nor the response are logged.

For instance this code:
[code]

Note: when using V9, you get an Exception with error InvalidArgument - no information which argument is invalid, but that appears to be an issue in the API.

**Client lib

[2022-03-08 08:26] sommmen opened #360 "How to cancel service.SearchStreamAsync() ?"
**What is your question?**

Hello - i'd like for my app to be able to shutdown gracefully and for that i need to be able to cancel any outgoing requests - it seems like the method:

[code]

Does not have an overload for `cancellationToken`. I could not find anything in the docs - how can i cancel any outgoing requests?

[2022-03-08 14:50] AnashOommen commented on #360
Hi @sommmen right now you have to write a longer version like this:

[code]

If I added an optional `CancellationToken` parameter on the `SearchStreamAsync` method, that will solve the issues, right?

[2022-03-08 15:07] sommmen commented on #360
Yeah generally any `Async` method that supports cancellation in some way should have a `CancellationToken cancellationToken = default` parameter.

After browsing a bit it looks like the following works as well:

[code]

I'm doing the same for `customerService.ListAccessibleCustomers`:

[code]

Anyhow adding a cancellation token to the async method would be great and would be what .net devs expect.

[2022-03-09 15:51] jradcliff opened #361 "ChangeLog not updated for v11.0.0"
[v11.0.0](https://github.com/googleads/google-ads-dotnet/releases/tag/v11.0.0) was released, but [ChangeLog](https://github.com/googleads/google-ads-dotnet/blob/main/ChangeLog) does not have entries for it.

[2022-03-09 16:10] rhw2012 commented on #348
It ended up being a wrong login-customer-id as you suspected.  Thanks for your suggestion.

From: Anash P. Oommen ***@***.***>
Sent: Wednesday, February 23, 2022 12:04 PM
To: googleads/google-ads-dotnet ***@***.***>
Cc: Bobby Hwang ***@***.***>; Mention ***@***.***>
Subject: Re: [googleads/google-ads-dotnet] Visual Studio setup project dependencies error (Issue #348)

@rhw2012<https://github.com/r

[2022-03-14 20:13] AnashOommen commented on #355
Oh... I didn't realize that it caused your server to eventually crash... I'll take another look at the code to see how best to integrate your suggestion.

[2022-03-14 20:15] AnashOommen commented on #359
@Zweitze This is because the query is valid in v10 (I need to figure out why it fails on v9), but the result is empty. GRPC server returns an empty iterator in that case, causing the library to bypass logging altogether. You get an empty object back due to the fix for https://github.com/googleads/google-ads-dotnet/issues/197, though I didn't realize this was a wider problem.

[2022-03-14 20:32] AnashOommen opened #364 "Summary logs log blank requestId and customerId..."
We need to populate CustomerId and ResponseHeader properties for LogEntry object...

[2022-03-15 10:49] Zweitze commented on #359
Please note, 12 days ago this query was erroneous in v10, as confirmed by Peter Lawrence from Google Ads API team:
https://groups.google.com/g/adwords-api/c/a2Kbod3J-uQ/m/DZQ41SBnCwAJ

It's too bad the behavior of Google Ads API keeps changing within version.

Anyway, is it also possible to ensure that SearchGoogleAdsStreamResponse.RequestId is always filled? In my use-case standard (file-based) l

[2022-03-15 19:29] #359 closed

[2022-03-16 08:43] sommmen commented on #360
Thanks buddy!

[2022-03-16 17:23] cbeauchemin commented on #355
Yes, its really GoogleAuthInterceptors. I did not created classes with that name.

The credential i created is derived from Google.Apis.Auth.OAuth2.ICredential.

If you can, provide me a safe way to send you my code so you can have a better idea.

Thanks

Claude

[2022-03-17 08:05] jtattermusch commented on #355
Feel free to send an e-mail to the e-mail address associated with my github account (can be found e.g. int the git commit log of https://github.com/grpc/grpc/commits/master).

Otherwise, just knowing how the Google.Apis.Auth.OAuth2.ICredential credential you created is passed to the client library would probably be enough.

[2022-03-17 14:33] cbeauchemin commented on #355
Hi Jan,
It seems to me that your github email is private. You can write it here or contact me at claude.beauchemin@newfold.com.
Thanks

[2022-03-24 13:49] BDDevelopment78 opened #372 "Getting Error in KeywordPlanIdeaServiceClient when send more than 20 Keywords in Request"
I am trying to use GenerateKeywordIdeas method of KeywordPlanIdeaServiceClient service. It works fine if I send up to 20 keywords in the request. If I send more than 20 keywords the code breaks down. The error I am getting is

Status(StatusCode="InvalidArgument", Detail="Request contains an invalid argument.", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1648123856.780

[2022-03-24 14:03] jtattermusch commented on #355
@cbeauchemin  based on the code you provided, it seems that this is pretty much the place where gRPC `Channel` instances are created:
https://github.com/googleads/google-ads-dotnet/blob/b1c7566507204fd4cd2adbaf8c66a81c91c67775/src/Lib/CachedChannelFactory.cs#L139

The way the credential objects are applied to the grpc channels is here:
https://github.com/googleads/google-ads-dotnet/blob/b1c7566507

[2022-03-24 14:19] jskeet commented on #355
Yes: https://github.com/grpc/grpc/blob/master/src/csharp/Grpc.Core.Api/ChannelBase.cs

[2022-03-24 14:42] jtattermusch commented on #355
@AnashOommen  in grpc-dotnet  the `GrpcChannel` instances should be `Disposed` once you stop using them.
https://github.com/grpc/grpc-dotnet/blob/f238855fcb77cec01e87eb9cc08680c3420c132f/src/Grpc.Net.Client/GrpcChannel.cs#L594
(there's no need for the async shutdown mechanism).

Note that GrpcChannel from grpc-dotnet implements ChannelBase, but currently when you invoke channelBase.ShutdownAsync()

[2022-03-24 15:03] #364 closed

[2022-03-31 16:31] AnashOommen commented on #361
Fixed in 11.0.1

[2022-03-31 16:31] #361 closed

[2022-03-31 16:32] #348 closed

[2022-04-07 16:03] AnashOommen opened #381 "We should consider moving to ILogger"
We use TRACE today, perhaps we can move to ILogger instead. Needs more investigation, especially on .NET Framework.

[2022-04-11 18:26] DevGavin opened #382 ""Deadline Exceeded" when fetching Responsive Search Ads starting 4/6"
We have been using SearchStream() to fetch ads with campaign ID specified.

Here is a sample query:

SELECT ad_group_ad.ad.final_urls, ad_group_ad.ad.final_mobile_urls, ad_group_ad.ad.id, ad_group_ad.ad.responsive_search_ad.descriptions, ad_group_ad.ad.responsive_search_ad.headlines, ad_group_ad.ad.responsive_search_ad.path1, ad_group_ad.ad.responsive_search_ad.path2, ad_group_ad.ad.tracking_url_t

[2022-04-11 20:45] DevGavin commented on #382
I made a mistake in checking the time spent in the past. It was 15 seconds rather than 15 minutes. Thus, I think this sudden increase in the query time is not a client library issue. I am closing this issue now.

[2022-04-11 20:45] #382 closed

[2022-04-12 18:12] davestitz opened #383 "Missing PartialFailure in MutateAssetResponse"
**Describe the problem you are trying to solve**
When using the AssetServiceClient to send a MutateAssetsRequest (MutateAssets) the MutateAssetResponse that is returned does not follow the standard Partial Failure response mechanism to include the list of partial failure errors which are typically obtained through PartialFailure.GetErrorsByOperationIndex(operationIndex)[0];. The error response mes

[2022-04-13 14:49] AnashOommen commented on #372
Hi, Could you pls capture the request ID from the logs and share it with me?

[2022-04-13 14:50] AnashOommen commented on #355
@cbeauchemin I'll incorporate your fix in the next library release (along with v10_1 API release).

[2022-04-13 14:53] cbeauchemin commented on #355
@AnashOommen Great news!

[2022-04-19 06:26] ArvindMaster opened #384 "Need to whitelist the Google ads api urls used by library on our production server"
Hi Google leads api team,

Can you please share me the urls that the client library
https://github.com/googleads/google-ads-dotnet/

accesses to connect to google ads api internally. I am unable to locate the urls.

Right now when I run project on my local machine it works fine, But when I run same on server where external urls are blocked, it doesnt work and gives error

Status(StatusCode="Unavai

[2022-04-20 20:41] jradcliff commented on #384
Hi,

The library also makes requests to the OAuth servers at `https://oauth2.googleapis.com`.

Thanks,
Josh, Google Ads API Team

[2022-04-21 07:18] petersontubini opened #385 "Rehydrate models with readonly RepeatedField?"
Hi,

I'm working into a functionality where I'm replicating a few Assets from the campaign to another campaign in the same account level.

For that I'm storing the Assets into a database for caching and rehydrating these models so I can mutate it later.

The main issue that I'm having is that I can serialize the RepeatedFields but I can't deserialize it because it's marked as readonly:

`
private

[2022-04-21 20:50] AnashOommen commented on #385
Hi @petersontubini see https://developers.google.com/google-ads/api/docs/client-libs/dotnet/working-with-protobuf?hl=en#repeated_types.

[2022-04-21 20:50] #385 closed

[2022-04-27 09:42] ArvindMaster commented on #384
HI Josh ,

Whitelisted https://oauth2.googleapis.com as well but still getting same error

Thanks
Arvind

[2022-04-27 09:43] jesuissur opened #386 "Deadlock under load caused by Wait() in GoogleAdsGrpcInterceptor"
Under some load in asynchronous context, our call to service like `GoogleAdsService` through `GoogleAdsServiceClient` lock our app with threads starvation.

**Steps to Reproduce:**
Put some load and watch it fails.
We do not have the stack trace anymore, but all of our threads were blocked at this method on a `Wait()` operation: `Google.Ads.GoogleAds.Interceptors.GoogleAdsGrpcInterceptor.AsyncUnar

[2022-04-27 16:09] jesuissur commented on #386
Hi @AnashOommen

We rescued some stack trace.  Our code is calling `googleAdsServiceClient.SearchAsync(...)` and while we iterate the results `PagedAsyncEnumerable<SearchGoogleAdsResponse, GoogleAdsRow>` it locks with this stack trace

[code]

We'll eventually try to deactivate the logging with an official release.
Thanks
Phil

[2022-04-27 18:07] benwmills opened #387 "What version of the API does this library use?"
We've been using this library for a while to make calls to the Google Ads API.  We just received a message from Google that we are using Google Ads API v7 or v8 and that those versions will be shut down on May 11th.  Is this library making v7 or v8 calls?  I see that the current version of Google Ads API is v10.

I should mention that we are currently using v10.1.0 of the nuget package.  I see tha

[2022-04-27 18:09] jradcliff commented on #384
Hi Arvind,

If the logs don't contain the URLs that are still an issue, you could try enabling more verbose logging in gRPC as described at the end of this section of our logging guide:

https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging#advanced_logging

Also, if you have a stack trace from when you encounter this error, that could help pinpoint the types of requests tha

[2022-04-27 18:15] benwmills commented on #387
Never mind.  I see that v8 was listed in the old nuget package and v10 is available in the latest version.

[2022-04-29 20:25] shelbyisafish opened #388 "HistoricalMetricsOptions.include_average_cpc (v10.1.0)"
Hello,

I want to use a feature from the latest release notes for v10.1.0 - [HistoricalMetricsOptions.include_average_cpc](https://developers.google.com/google-ads/api/reference/rpc/v10/HistoricalMetricsOptions#include_average_cpc) - but I don't see that option in the code.

![include average cpc](https://user-images.githubusercontent.com/40782102/166063123-c8110707-aee5-4852-bcd3-9e548f314255.PNG

[2022-05-03 16:39] rr180 opened #389 "I cannot specify the Values field on a new StructuredSnippetAsset becaus it is "get" only."
**Describe the bug:**

**Steps to Reproduce:**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]

**Expected behavior:**

**Client library version and API version:**
Client library version:
Google Ads API version:
.NET version:
Operating system (Linux, Windows, ...) and version (if the b

[2022-05-06 15:44] washamdev opened #390 "Create/Update Feed Fails with "Request contains an invalid argument" error"
**Describe the bug:**
We are in the process of migrating the .NET Nuget package for "Google.Ads.GoogleAds" from version "9.0.0" to version "11.0.1". After doing so, we are now making a call like the code below in _Steps to Reproduce_ in order to update a Feed.

Instead of getting a `MutateFeedsResponse` back, it blows up with the following exception error every time:

Note that we can _load_ Feeds

[2022-05-09 13:24] ian9 opened #391 "UserDataService UploadUserDataRequest - Operations is 'get' only"
**Describe the bug:**
See post in the support chat: https://groups.google.com/g/adwords-api/c/Ru4BZzF0slw

**Steps to Reproduce:**
Please provide a code snippet or steps to consistently reproduce the experienced behavior.
[DO NOT INCLUDE ANY PERSONAL OR SENSITIVE DATA IN YOUR SUBMITTED CODE]
Here is an example of how I am seeing Operations being readOnly.

UserDataServiceClient service = client.Ge

[2022-05-09 21:12] AnashOommen commented on #383
This is fixed in release v12.0.0.

[2022-05-09 21:12] #383 closed

[2022-05-09 21:13] AnashOommen commented on #355
This is fixed in 12.0.0.

[2022-05-09 21:13] #355 closed

[2022-05-09 21:15] AnashOommen commented on #384
@ArvindMaster is this issue resolved for you?

[2022-05-09 21:18] AnashOommen commented on #390
Since the call is Async, the logs get a while to be written (i.e. it is not synchronized).

Could you share the request-id? It is also part of the GoogleAdsException. Add the exception to the Visual Studio watch and expand the fields.

[2022-05-09 21:20] AnashOommen commented on #391
See https://github.com/googleads/google-ads-dotnet/issues/346 for a fix.

[2022-05-09 21:20] #391 closed

[2022-05-09 21:20] AnashOommen commented on #389
See https://github.com/googleads/google-ads-dotnet/issues/346 for a fix.

[2022-05-09 21:20] #389 closed

[2022-05-10 15:18] rr180 commented on #389
Hello. I do not believe #346 is a fix for my issue. #346 refers to a Mutate Request and the solution you provided is to use a different request (in that case, a Mutate Campaigns Request).
But my problem is that the StructuredSnippetAsset cannot be created in C# because the only field it needs (the Values field) is read only. It is not a Mutate Request problem, it is a class problem (the Structured

[2022-05-10 16:08] AnashOommen commented on #389
It's the same thing; basically the question is how to populate a RepeatedField.

[code]

[2022-05-10 18:55] rr180 commented on #389
Thanks!

On Tue, May 10, 2022 at 1:08 PM Anash P. Oommen ***@***.***>
wrote:

[2022-05-12 09:43] rajpurohit303 opened #400 "Issue: While migrating Google ads api"
Dear All,

We have experienced some issues with the google Ads Api and I have outlined it below.

Google Client Library
1) Grpc.Auth = Version V2.41

Challenges :-  Currently,We are Migrating From Google Adwords Api to Google Ads Api. For service to upload our sales data
From offline conversion feed operation service migrating it into an Upload offline Conversion. We are facing below error while g

[2022-05-12 14:28] Nilesailor opened #401 "Enum values do NOT match documentation"
I've run into this a few times with the Google Ads API.  According to the documentation, the enum values for the WebpageConditionOperand are "UNSPECIFIED", "UNKNOWN", "URL", "CATEGORY", "PAGE_TITLE" , "PAGE_CONTENT", and "CUSTOM_LABEL" in all caps with underscores exactly as they were in the AdWords API.

https://developers.google.com/google-ads/api/reference/rpc/v10/WebpageConditionOperandEnum.We

[2022-05-12 14:50] AnashOommen commented on #401
@Nilesailor that's because we moved from one naming standard (Microsoft's SOAP generator - wsdl.exe) to another naming standard (Google's protobuf generator -- protoc.exe). See https://developers.google.com/protocol-buffers/docs/reference/csharp-generated#enum. While I agree that the concern is genuine, fixing this issue is not feasible without changing the entire protobuf coding convention.

[2022-05-12 14:50] #401 closed

[2022-05-12 17:25] Nilesailor commented on #401
I have all the values from the Google documentation stored in our internal database (as they have been for years as they were also used in the AdWords API).

In order to make API calls, I pull the documented string values from our database, and cast them as follows.  Any slick ideas for still passing the documented enum values inline without writing individual converter methods for each and every

[2022-05-13 14:37] cbeauchemin opened #402 "Creation of a GoogleAdsException for test purpose do not work anymore with v12"
I was using the following line to create a fake exception for my mock:

var exception = GoogleAdsException.Create(new RpcException(Status.DefaultCancelled));

It do not work anymore.

trailer object inside the lib is empty. Its searching for the key
google.ads.googleads.v9.errors.googleadsfailure-bin

Object Lib\AdsBaseException.cs, line 98

[2022-05-16 12:08] danny-quinn commented on #402
I too use this method in tests to mock failures and have run into this bug when using 12.0.0

I have reverted to version 11.0.1 for the time being.

// Works in 11.0.1 not 12.0.0
var g = GoogleAdsException.Create(
		new RpcException(
			new Status(StatusCode.PermissionDenied,"Error Detail")
		)
	);

[2022-05-16 13:06] cbeauchemin commented on #402
@danny-quinn i've found an alternative which is less pretty but work until its fixed

private GoogleAdsException GetFakeGoogleAdsException()
  {
      var metadata = new Metadata();
      metadata.Add("google.ads.googleads.v9.errors.googleadsfailure-bin", new byte[0]);
      var rcpException = new RpcException(Status.DefaultCancelled, metadata, "Some message");
      return (GoogleAdsException)Goo

[2022-05-16 17:55] AnashOommen commented on #386
Hi Phil,

Could you check if the issue is replicable with v12.0.0? I made some changes with the lifecycle of GoogleAdsInterceptor, so hopefully this isn't an issue.

[2022-05-16 20:25] AnashOommen commented on #400
@rajpurohit303 There's something wrong with how you are providing your OAuth credentials. Could you directly mail googleadsapi-support@google.com, cc me (anash@google.com) with details on how you are setting your OAuth credentials?

Also related: https://github.com/googleads/google-ads-dotnet/issues/23 for why the error message isn't too friendly in this case.

[2022-05-16 20:26] AnashOommen commented on #384
Closing for now, please reopen if the issue persists.

[2022-05-16 20:26] #384 closed

[2022-05-17 20:17] AnashOommen commented on #400
Looked at this. Essentially, the refresh token has been revoked. Obtain a new refresh token by running the GenerateCredentials example, and you are all good to go.

[2022-05-17 20:17] #400 closed

[2022-05-19 11:27] LRBelin opened #406 "FieldMasks.AllSetFieldsOf() returns incorrectly formatted field mask"
**Describe the bug:** When I call FieldMasks.AllSetFieldsOf() for an updatable asset (for instance Call Asset) the field masks are returned without the proper prefix.  I expect callAsset.phoneNumber but I get phoneNumber only.

**Steps to Reproduce:**
var call = new CallAsset
                {
                    PhoneNumber = proposedCall.PhoneNumber,
                    CountryCode = "US"

[2022-05-19 12:48] LRBelin commented on #406
I just tested v12 of the .net client and can confirm this is happening in that version as well.

[2022-05-19 20:49] AnashOommen commented on #406
The fieldMask should be calculated relative to the object you set on the `Update` field.

So you need to modify your code like this:

[code]

[2022-05-19 20:49] #406 closed

[2022-05-20 02:04] axtens opened #407 "KeywordIdeaMetrics returning a Month of 13 and no Month of 1"
dotnet Google.Ads.GoogleAds v12.0.0

A request to return KeywordIdeaMetrics gives erroneous month numbers.
![KeywordIdeaMetrics oddity](https://user-images.githubusercontent.com/209621/169433862-f1262809-6b0a-431c-8443-cf8019d07f83.png)

Notice that in the pasted graphic, item 8 has a Month of 13 and item 9 a Month of 2.

[2022-05-20 14:12] axtens commented on #407
Log generated by
[code]
attached
[details.log](https://github.com/googleads/google-ads-dotnet/files/8740766/details.log)

[2022-05-20 15:15] AnashOommen commented on #407
@axtens How are you generating this graphic? If you see https://developers.google.com/google-ads/api/reference/rpc/v10/MonthlySearchVolume and https://developers.google.com/google-ads/api/reference/rpc/v10/MonthOfYearEnum.MonthOfYear, then you'd see that the field is an `ENUM` type with two additional fields (`UNSPECIFIED = 0` and `UNKNOWN = 1`). That's why the count runs from 2 to 13 for the othe

[2022-05-20 15:16] AnashOommen commented on #372
Closing for now, please reopen and share a `request-id` if the issue is replicable.

[2022-05-20 15:16] #372 closed

[2022-05-23 02:01] axtens commented on #407
Okay, that makes sense. The values I'm receiving are via Newtonsoft's JsonConvert.SerializeObject(). So it's giving me the actual int values of the ENUM rather than the stringified ENUM representation.

[2022-05-30 10:58] TalOvedPlus500 opened #408 "API LOGGING"
Hi,
I tried to follow after this guid: https://developers.google.com/google-ads/api/docs/client-libs/dotnet/logging
when I tried to put this code in my service:
![image](https://user-images.githubusercontent.com/106529449/170978403-1251714a-8fd8-4696-920e-adf6b1be61a8.png)

I am getting an error:
System.TypeInitializationException: The type initializer for 'Google.Ads.GoogleAds.V10.Services.Google

[2022-05-31 19:45] #407 closed

[2022-06-08 11:42] scamner opened #409 "failed to connect to all addresses"
I am trying to build an integration using the "UploadCallConversions" endpoint, but I keep getting the below error.

Grpc.Core.RpcException: 'Status(StatusCode="Unavailable", Detail="failed to connect to all addresses", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1654641331.716000000","description":"Failed to pick subchannel","file":"..\..\..\src\core\ext\filters\clie

[2022-06-09 08:40] AlesSturala opened #410 "Request ID available in response"
Hello,

Almost every time there is a question about the API or a problem reported on the GAds forum, we are asked to provide the Request ID. This is relatively easy to do locally on our dev machines by looking into the GAds log. But in production there are millions of requests every hour and it's impossible to map from the summary log which query of the rows belongs to the API request that we want

[2022-06-09 09:01] AlesSturala opened #411 "Receiving reports on a higher level and not already parsed"
Hello,

About a year ago, I asked about the possibility to receive data in a higher level format than already parsed DTO objects. The case is that the GAQL definition is dynamic, it is not known at a compile time. We just want to take whatever GAQL comes our way, execute it and dynamically process it and save into a file (AVRO in our case).

The proposed solution was to serialize it to JSON and th

[2022-06-09 13:56] AnashOommen commented on #410
@AlesSturala for reporting, you can do something like:

[code]

[2022-06-09 13:56] #410 closed

[2022-06-09 14:02] AnashOommen commented on #409
Hi @scamner https://github.com/grpc/grpc/issues/23273 seems relevant here. It is a connectivity issue, likely triggered when your VPN connection drops.

[2022-06-09 14:02] #409 closed

[2022-06-09 14:05] #390 closed

[2022-06-09 14:17] jesuissur commented on #386
@AnashOommen We did not try the v12 release yet.  Should come in a few weeks

[2022-06-09 16:14] scamner commented on #409
Actually, I was saying it's an issue while on VPN and after I disconnect. My VPN is not dropping, I was just eliminating that as a possibility. So, the issue persists.

[2022-06-09 18:49] AlesSturala commented on #410
Thank you Anash. We were using _googleAdsService.Search()_ which doesn't have the RequestId but we will change to SearchStream().

What about DeadlineExceeded exceptions, is there a way to get the RequestID? That is a _RpcException_ within an _AggregateException_.

[2022-06-13 18:32] AnashOommen commented on #402
Fixed in 12.1.0.

[2022-06-13 18:32] #402 closed

[2022-06-17 09:05] Azami1002 opened #414 "In version 12.1.0 getting Method not found exception"
Same code is working with version 11.0 but yesterday i updated to version 12.0 after that i'm getting below error
"Method not found: 'Void Google.Api.Gax.Grpc.ClientHelper..ctor(Google.Api.Gax.Grpc.ServiceSettingsBase)'."

           GoogleAdsClient client = new GoogleAdsClient();
            List<CampaignSetting> Campaign = new List<CampaignSetting>();
            **GoogleAdsServiceClient googleA

[2022-06-17 14:08] AnashOommen commented on #414
Hi,

I need a demo project to help me replicate this. I tried with a few combinations of project types, but no luck.

[2022-06-17 16:40] AnashOommen commented on #408
Closing for now, pls reopen if this is replicable.

[2022-06-17 16:40] #408 closed

[2022-06-19 13:08] javicha opened #415 "v11 and MediaUtilities"
Hello everyone!

I just upgraded from v10 to v11. I am checking that some classes that I am using change namespaces. They are the following:
OAuth2Flow, FieldMask and MediaUtilities.

In v10, it was necessary to import Google.Ads.GoogleAds.Util. Now in v11 it gives compilation error, and it is necessary to import Google.Ads.Gax.Util.

I would like to confirm with you that the behavior is exactly t

[2022-06-20 13:38] scamner opened #416 "Method not found"
I keep trying to use the version 11 library to connect to Google Ads API, but I keep getting this error. I am running it from my laptop at home, so wide open internet. I got my permanent Google OAuth 2 client ID and secret that I added to my app.config, but I keep getting the below.

Grpc.Core.RpcException: 'Status(StatusCode="Unavailable", Detail="failed to connect to all addresses", DebugExcepti

[2022-06-20 15:02] scamner commented on #416
So, I upgraded to version 12.1.0 of Google.Ads.GoogleAds and the above error went away, but now I get....

Method not found: 'Void Google.Api.Gax.Grpc.ClientHelper..ctor(Google.Api.Gax.Grpc.ServiceSettingsBase)'.

[2022-06-22 17:33] AnashOommen commented on #415
@javicha yes, the behaviour is identical, I refactored it so that the utilities can be reused for other APIs, and also because I have to worry less about the stable parts of the code if it is in its own assembly. See https://github.com/googleads/google-ads-dotnet/blob/main/CHANGELOG.md#1200.

[2022-06-22 17:33] #415 closed

[2022-06-22 17:34] AnashOommen commented on #416
Could you try adding a dependency to `Google.Ads.Gax` package? It should have been pulled directly because it is a dependency to Google.Ads.GoogleAds, but perhaps there's something weird going on...

[2022-06-22 22:00] scamner commented on #416
Google.Ads.Gax is added to the project.

Here is the main page that I am running. I tried to zip and send the project, but it's too big even minimally and I do not have it in github.

using Google.Ads.GoogleAds;
using Google.Ads.GoogleAds.Lib;
using Google.Ads.GoogleAds.Util;
using Google.Ads.GoogleAds.V11.Errors;
using Google.Ads.GoogleAds.V11.Services;
using System;

namespace SendCallData
{

[2022-06-22 22:14] scamner commented on #416
Also, the error happens on this line...

ConversionUploadServiceClient conversionUploadService = client.GetService(Services.V11.ConversionUploadService);

[2022-06-23 07:15] netizi opened #417 "Failed to create conversion action for MCC account (with many accounts)"
Hi.

using -
Client library version:  12.1.0.0
Google Ads API version:V11
.NET version: 4.7.2

code snippet :

        ConversionActionServiceClient conversionActionService =
      _user.GetService(Services.V11.ConversionActionService);

        // Add a conversion action.
        ConversionAction conversionAction = new ConversionAction()
        {
            Name = "S2S - Phone Calls" ,

[2022-06-27 11:12] scamner commented on #416
Any progress on the above?

[2022-06-27 11:40] AnashOommen commented on #416
Could you perhaps delete the bin and obj folders? And the contents of the package folders? I can do a `dotnet restore` to generate those contents.

[2022-06-27 12:18] scamner commented on #416
I will get he bon and obj cleanup done and try again in a bit. I am using VS 2019 Enterprise and this project is a console app using .NET 4.7.2.

[2022-06-27 12:21] scamner commented on #416
I cleared the bin and obj and still get the same error.

[2022-06-28 14:44] AnashOommen commented on #414
Duplicate of #416

[2022-06-28 14:44] #414 closed

[2022-06-28 14:57] AnashOommen commented on #416
I've attached a demo project. This is made in Visual Studio 2022 Community Edition, and is a Console project that targets .NET 4.7.2.

To run,

1. Unzip into a folder (e.g. `C:\Temp`)
2. `C:\> cd C:\Temp\ResolveDeps\ResolveDeps`
3. `C:\Temp\ResolveDeps\ResolveDeps> nuget restore -SolutionDirectory .. ResolveDeps.csproj`
4. Fill up the contents of `App.config`
5. Set your customerId in `Program.cs`

[2022-06-28 19:21] AnashOommen commented on #416
How does your directory structure look like? Which directory are you running commands from?

[2022-06-28 19:50] scamner commented on #416
So, basically I unzipped the project to my desktop. Is there something I need to install on the computer or something?

[2022-06-30 00:27] AnashOommen commented on #416
I was able to obtain a failing project from another source. tl;dr; you need to downgrade the following dependencies
[code]
to
[code]
Make sure you also do this in your `App.config` just in case Visual Studio doesn't automatically do it for you. A typical binding redirect looks like this:
[code]

The longer explanation is that `Google.Api.Gax` did a refactoring recently to choose between [`Grpc.Cor

[2022-06-30 01:18] scamner commented on #416
Well, one step forward, but back to the original issue I was getting when I was using version 11 of the Google Ads library.

Getting this error...

Status(StatusCode="Unavailable", Detail="failed to connect to all addresses", DebugException="Grpc.Core.Internal.CoreErrorDetailException: {"created":"@1656551760.035000000","description":"Failed to pick subchannel","file":"..\..\..\src\core\ext\filter

[2022-06-30 01:19] scamner commented on #416
Oh, well, it looks like downgrading the libraries also wiped the settings from my config file, so let me get those back and try again. Tomorrow....

[2022-06-30 01:35] scamner commented on #416
Well, so much for tomorrow, I got the values, plugged them in and I still get that same error. I disconnected from my VPN to remove any possible issues with that and tried again, but still get the same.

[2022-07-01 14:52] davidh07 opened #418 "Refresh Token not getting generated"
**Describe the bug:**
Using the code from https://github.com/googleads/google-ads-dotnet/tree/main/Google.Ads.GoogleAds/examples/Authentication/GenerateUserCredentials
I am not getting the RefreshToken:  Here is the results of Token Value after UserCredential credential = task.Result;
	Name	Value	Type
	AccessToken	"Hidden Value XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"	string
	ExpiresInSeconds	3

[2022-07-04 12:09] geext-dk commented on #386
I was facing an issue that has the same origin I believe:
1. `GoogleAdsClient` always uses `GoogleAdsServiceClientFactory` to create services.
2. `GoogleAdsServiceClientFactory` always adds `GoogleAdsGrpcInterceptor`.
3. `GoogleAdsGrpcInterceptor` always blocks the thread by executing `t.Wait()`, waiting for the response before returning. It's seen from the code that no config options can change t

[2022-07-08 20:16] AnashOommen commented on #417
Does the call work without the expiration?

[2022-07-08 20:46] AnashOommen commented on #418
@davidh07 I am fairly sure this is the same problem as the one in https://github.com/googleads/google-ads-dotnet/pull/332.

Try modifying the code example like this:
[code]

[2022-07-10 05:23] netizi commented on #417
while I used it with my MCC  test  which has less accounts

From: Anash P. Oommen ***@***.***>
Sent: Friday, July 8, 2022 11:17 PM
To: googleads/google-ads-dotnet ***@***.***>
Cc: Neti Zimerman ***@***.***>; Author ***@***.***>
Subject: Re: [googleads/google-ads-dotnet] Failed to create conversion action for MCC account (with many accounts) (Issue #417)

Does the call work without the expiration?

[2022-07-11 08:08] josephsinu opened #422 "Cannot find KeywordPlanKeywordAnnotation in KeywordPlanIdeaService.GenerateKeywordIdeas"
I want to get Concept (Brand, Non-Brand) as a part of Keywords Ideas response.
But i'm unable to send the request for KeywordPlanKeywordAnnotation. This parameter is not available in GenerateKeywordIdeasRequest. Can someone help me out?

[2022-07-11 14:51] #422 closed

[2022-07-18 02:27] axtens opened #425 "How to enable AverageCpcMicros on GenerateHistoricalMetrics in V11's KeywordPlanService?"
**What is your question?**
I am making a request for historical data using the `GenerateHistoricalMetrics` method on the `Services.V11.KeywordPlanService` service. In the results that are returned the `HasAverageCpcMicros` field is false and therefore there is nothing but zero in `AverageCpcMicros`. What do I have to add to my KeywordPlan to enable this value?

For reference, my sources are public

[2022-07-25 08:32] axtens opened #429 "Reach for products other than YouTube?"
In the image there is a "Reach" value in the Google Ads Keyword Plan. Is there a way to calculate / generate this in C#?
![Reach](https://user-images.githubusercontent.com/209621/180733735-9cc52e75-0aaa-4beb-ae2f-657a70399e81.png)

[2022-07-27 17:57] SoucianceEqdamRashti opened #432 "Logging to console"
Hello,

When using the client library for dotnet I can include more detailed logging like this:
[code]

But how do I log this to the console? I don’t want to write to a file. For instance, I am deploying this as part of an AWS Lambda/Azure Function. We just want to log to the console. Is this possible? For example in Azure Function we would like to ingest the logs into Application Insights. Even b

[2022-07-28 08:35] Raibaz commented on #432
You can log to the console by using

[code]

This should allow you to ingest the logs being written to console in Application Insights.

[2022-08-03 11:49] hakimio opened #437 "Strong name signature could not be verified in .NET Framework 4.7.2 app"
**Describe the bug:**

I am getting the following error when trying to use the library with .NET Framework 4.7.2:
[code]

**Steps to Reproduce:**
Try to use the latest version of the library in `.NET Framework 4.7.2` application.

**Expected behavior:**

No errors.

**Client library version and API version:**
Client library version: **13.0.1**
Google Ads API version: **11**
.NET version: **4.7.2**

[2022-08-03 12:01] hakimio commented on #437
Version **12.1.0** with Google.Ads.Gax: **1.0.1** works as expected.

[2022-08-03 16:25] AnashOommen commented on #437
@hakimio Thank you for catching this issue. I switched the compilation process from Windows to Linux in this release, so perhaps the assembly signing process broke. I'll take a look. For now, kindly stay on v12.1.0.

[2022-08-03 16:25] #432 closed

[2022-08-03 16:26] AnashOommen commented on #429
Hi @axtens Could you please ask this question on the Google Ads API forum instead? https://groups.google.com/g/adwords-api

[2022-08-03 16:26] #429 closed, assigned to nobody

[2022-08-03 18:43] AnashOommen commented on #416
Since this got resolved offline, I'll close this issue.

[2022-08-03 18:43] #416 closed

[2022-08-03 20:07] #437 closed

[2022-08-04 08:37] hakimio commented on #437
Thanks for fixing this so fast.

[2022-08-05 12:56] AnashOommen commented on #418
This was fixed in 13.0.0.

[2022-08-05 12:56] #418 closed

[2022-08-05 13:02] AnashOommen commented on #425
@axtens we will add a new code example in the next release. Thanks for bringing this up.

[2022-08-05 13:04] AnashOommen commented on #417
hi @netizi could you please send a fresh log to googleadsapi-support@google.com and add an Attn: anash@google.com? Pls refer this issue and ask that the support ticket be assigned to me.

I'll close the issue here because I may need additional details that cannot be shared over a public GitHub tracker.

[2022-08-05 13:04] #417 closed

[2022-08-10 17:56] AnashOommen opened #445 "Make the library compatible with the latest version of Google Cloud SDK"
`Google.Api.Gax.Grpc` did a major version update with several changes, see https://github.com/googleapis/gax-dotnet/releases/tag/Google.Api.Gax-4.0.0. As a result, the Ads client library isn't compatible with the latest version of Cloud SDK. To match the behaviour, we will make the library compatible with the latest version of Google Cloud SDK.

* Upgrade the library to use `Grpc.Net.Client` by de

[2022-08-12 16:16] AnashOommen commented on #445
We are currently blocked because `Grpc.Net.Client` doesn't expose a setting for setting either Proxy or the max size of trailing metadata. See  https://github.com/grpc/grpc-dotnet/issues/1842.

This in turn is due to an overflow bug in .NET runtime. https://github.com/dotnet/runtime/issues/73848

[2022-08-22 16:50] AnashOommen commented on #445
Fixed in v14.0.0.

[2022-08-22 16:50] #445 closed

[2022-08-22 16:50] AnashOommen commented on #386
I removed all the Wait() calls in v14.0.0.

[2022-08-22 16:50] #386 closed

[2022-08-22 16:51] AnashOommen commented on #425
See https://github.com/googleads/google-ads-dotnet/blob/main/Google.Ads.GoogleAds/examples/Planning/GenerateHistoricMetrics.cs.

[2022-08-22 16:51] #425 closed

[2022-08-25 17:13] SoucianceEqdamRashti opened #448 "Unable to connect to google ads in dotnet client library"
Hello,
I started seeing the below error which I am not quit sure what is causing. Unfortunately I don’t have those detailed logs because it fails before sending any audience lists.

It fails when I call the google ads api to search for an existing user list. Also, it is not possible to produce detailed or summary logs in a cloud environment like Azure App Service. This line of code:
`TraceUtilitie

[2022-08-25 18:37] AnashOommen commented on #448
Hi @SoucianceEqdamRashti Could you try with the latest version of Google Ads API library (v14.0.0)? This seems a bit like https://github.com/googleads/google-ads-dotnet/issues/416 to me.

Also, could you post a few details?

* The OS and version.
* The library version
* The .NET Runtime version
* Any additional details such as the type of project (console, windows, ASP.NET, etc.)

[2022-09-01 03:03] axtens opened #449 "Method not found (Grpc.Auth.GoogleGrpcCredentials.ToChannelCredential) calling GetService on a GoogleAdsClient"
**Describe the bug:**
Attempting to call the GetService method on an instance of GoogleAdsClient throws the following error:
[code]
**Steps to Reproduce:**
[code]
**Expected behavior:**
Expecting a ReachPlanServiceClient instance to be returned.

**API version:**
Google Ads API version:
Google.Ads.GoogleAds 14.0.0
.NET version:
4.8
Operating system (Linux, Windows, ...) and version (if the bug is

[2022-09-01 23:22] AnashOommen commented on #449
I can't seem to replicate this issue. Could you check in a command line example also? That way I can just build the repo as is.

[2022-09-07 08:26] chengkiang opened #451 "Documentation Link does not work (Service Unavailable)"
The link to the documentation given in the readme (https://developers.google.com/google-ads/api/docs/client-libs/dotnet) is not working. It gives a "Service Unavailable" error.

[2022-09-08 14:47] AnashOommen opened #452 "Let's sunset the migration examples."
AdWords API has officially sunset, so let's sunset https://github.com/googleads/google-ads-dotnet/tree/main/Google.Ads.GoogleAds/examples/Migration.

[2022-09-12 12:24] Rombersoft opened #456 "how to set 'refresh_token'?"
I use example here:
https://github.com/googleads/google-ads-dotnet/blob/main/Google.Ads.GoogleAds/examples/Planning/GenerateKeywordIdeas.cs

After it first run I get error:

Status(StatusCode="Internal", Detail="Error starting gRPC call. TokenResponseException: Error:"invalid_request", Description:"Missing required parameter: refresh_token", Uri:""", DebugException="Google.Apis.Auth.OAuth2.Respons

[2022-09-12 13:12] Azami1002 opened #457 "StatusCode="DeadlineExceeded", Detail="Deadline Exceeded""
Hi
Method Function -

public List<CampaignSetting> GetCampaignDetails(string AccountID)
        {
            GoogleAdsClient client = new GoogleAdsClient();
            List<CampaignSetting> Campaign = new List<CampaignSetting>();
            GoogleAdsServiceClient googleAdsService = client.GetService(Services.V11.GoogleAdsService);
            SearchGoogleAdsRequest request = new SearchGoogleAds

[2022-09-12 14:52] AnashOommen commented on #457
Hi @Azami1002 perhaps it is a combination of a large account + the use of paging. Can you use Streaming instead? Here's an example: https://github.com/googleads/google-ads-dotnet/blob/main/Google.Ads.GoogleAds/examples/BasicOperations/GetKeywords.cs#L88

[2022-09-12 14:52] #457 closed

[2022-09-12 14:53] AnashOommen commented on #451
Seems like a temporary outage. Works now.

[2022-09-12 14:53] #451 closed

[2022-09-12 14:54] AnashOommen commented on #449
Closing for now, since this isn't replicable.

[2022-09-12 14:54] #449 closed

[2022-09-12 14:59] AnashOommen commented on #456
Hi @Rombersoft could you pls take a look at https://github.com/googleads/google-ads-dotnet/blob/main/Google.Ads.GoogleAds/examples/Program.cs#L60 and see if your initialization code looks similar? If not, pls post a more complete example and I'll take a look.

[2022-09-12 15:00] AnashOommen commented on #448
Closing this issue since the developer hasn't responded. Pls reopen if the issue persists.

[2022-09-12 15:00] #448 closed

[2022-09-12 19:24] Rombersoft commented on #456
I don't understand why you show me commented code. I can share my code

[Program.cs.zip](https://github.com/googleads/google-ads-dotnet/files/9551168/Program.cs.zip)

[2022-09-12 19:35] Rombersoft commented on #456
I've found error in my code. Thank you for pay attention

[2022-09-12 19:35] #456 closed

[2022-09-13 00:02] axtens commented on #449
It's on the list to do, but I'm the only developer in the company. So yes, close. If/when I get to it ...